[2017-09-04 11:13] cbeams opened #1 ""Founder""

[2017-09-04 11:13] cbeams opened #2 ""Director of decentralization""

[2017-09-04 11:13] cbeams opened #3 ""exchange maintainer""

[2017-09-04 11:13] cbeams opened #4 ""DAO maintainer""

[2017-09-04 11:13] cbeams opened #5 ""pricenode maintainer""

[2017-09-04 11:13] cbeams opened #6 ""seednode maintainer""

[2017-09-04 11:13] cbeams opened #7 ""statsnode maintainer""

[2017-09-04 11:13] cbeams opened #8 ""bitcoinj maintainer""

[2017-09-04 11:13] cbeams opened #9 ""exchange statistics website/API operator and maintainer""

[2017-09-04 11:13] cbeams opened #10 ""network monitor operator and maintainer""

[2017-09-04 11:13] cbeams opened #11 ""BSQ explorer operator and maintainer""

[2017-09-04 11:13] cbeams opened #12 ""website operator and maintainer""

[2017-09-04 11:13] cbeams opened #13 ""exchange arbitrator""

[2017-09-04 11:13] cbeams opened #14 ""pricenode operator""

[2017-09-04 11:13] cbeams opened #15 ""seednode operator""

[2017-09-04 11:13] cbeams opened #16 ""GitHub organization operator""

[2017-09-04 11:13] cbeams opened #17 ""Travis CI operator""

[2017-09-04 11:13] cbeams opened #18 ""DNS operator""

[2017-09-04 11:13] cbeams opened #19 ""Discourse forum operator""

[2017-09-04 11:13] cbeams opened #20 ""Transifex operator""

[2017-09-04 11:13] cbeams opened #21 ""Twitter operator""

[2017-09-04 11:13] cbeams opened #22 ""Freenode IRC operator""

[2017-09-04 11:13] cbeams opened #23 ""Slack team operator""

[2017-09-04 11:13] cbeams opened #24 ""Telegram operator""

[2017-09-04 11:13] cbeams opened #25 ""Reddit operator""

[2017-09-04 11:13] cbeams opened #26 ""mailing list operator""

[2017-09-04 11:13] cbeams opened #27 ""newsletter operator""

[2017-09-04 11:13] cbeams opened #28 ""roles maintainer""

[2017-09-04 11:13] cbeams opened #29 ""docs maintainer""

[2017-09-04 11:13] cbeams opened #30 ""proposals maintainer""

[2017-09-04 11:13] cbeams opened #31 ""comp maintainer""

[2017-09-04 11:13] cbeams opened #32 ""Economic advisor""

[2017-09-04 11:13] cbeams opened #33 ""Bookkeeper""

[2017-09-04 11:13] cbeams opened #34 ""Writer/Editor""

[2017-09-04 11:13] cbeams opened #35 ""Ambassador""

[2017-09-06 13:06] stevenkain commented on #20
Present for taking over Transifex operations

[2017-09-06 13:14] ManfredKarrer commented on #20
Thanks @stevenkain for your offer! At the moment @riclas is the main maintainer. Best to cross check with him if he is interested to become official operator.

[2017-09-06 13:30] cbeams commented on #20
Just following up here, that per [conversation in Slack](https://bisq.slack.com/archives/C6YNLRYS2/p1504703703000189), @stevenkain is planning to write up a _specification_ for this role, possibly in collaboration with @riclas if he is also interested. See #21 for an example of a role specification.

[2017-11-06 15:01] cbeams commented on #27
Per bisq-network/newsletter#3, this is a quick update here to say that we're now on a paid plan with Mailchimp, because we recently exceeded the 2000 subscriber free tier limit, and cannot send any mail without upgrading to a paid plan. Here's the invoice:

![image](https://user-images.githubusercontent.com/301810/32447222-bbd51d12-c30b-11e7-8731-3c0e216f821c.png)

[2017-11-08 14:48] cbeams commented on #33
I have updated the title and description of this role and assigned it to myself to reflect that I am in fact playing this role for now, namely that I'm the one who has edit rights over the [BSQ stake and vote tracking spreadsheet](https://docs.google.com/spreadsheets/d/1xlXDswj3251BPCOcII-UyWlX7o7jMkfYBE-IZ5te5Ck/edit#gid=0).

[2017-11-09 13:40] cbeams commented on #2
I'm closing this in favor of simply listing myself, along with @ManfredKarrer as a co-founder in #1. The idea of a "director of decentralization" started as a joke, but we thought it might be actually be good and sort of fun to formalize it as a real role during [Phase Zero](https://github.com/bisq-network/docs/blob/master/dao/phase-zero.adoc) of the Bisq DAO.

In practice, I don't think we do nee

[2017-11-09 13:42] cbeams commented on #1
I've assigned myself here, reflecting my role as co-founder. Further details at https://github.com/bisq-network/roles/issues/2#issuecomment-343157142.

[2017-11-15 20:19] cbeams commented on #14
@ManfredKarrer, I've assigned you to this role, as I believe you're the only contributor running pricenode(s) at the moment.

[2017-11-20 13:57] cbeams commented on #23
I've just added @ManfredKarrer as an assignee to this role, reflecting the fact that he and I in fact have Owner rights in Slack.

[2017-12-01 10:44] cbeams commented on #21
## 2017.11 update

Upstats all around during November, as we began to get much more active on Twitter. All the buzz around the Baltic Honeybadger conference was certainly a help here, but was not the only factor. I'm particularly happy to see the 430 new followers. That's a ~8% increase (from ~5400->~5800) in a single month, and more than 10 new followers per day on average. A pretty good indicato

[2017-12-11 11:37] cbeams commented on #32
Closing as dropped for now.

[2017-12-11 12:28] cbeams commented on #17
Closing as dropped for now. There are no real operator / administrator duties with Travis CI, at least not yet.

[2017-12-12 07:17] cbeams commented on #28
@csacher, I've added you as an assignee, reflecting that we're in the middle of a handover process for this role.

@bisq-network/contributors, the plan is that @csacher and I will continue work together over the next weeks, getting the process and infrastructure around roles solidly in place and working with individual role owners to take control of their respective role specs, etc. Ultimately, th

[2017-12-18 10:30] cbeams commented on #23
Note that I've just created a repository for this role at https://github.com/bisq-network/slack. See bisq-network/dao#19 for details.

[2018-01-02 09:42] cbeams commented on #22
I've assigned @mrosseel, @ManfredKarrer and myself to this role, as we three in fact have op rights in #bisq and #bitsquare.

@mrosseel is the only one actively managing this, though, and we should consider what we want to do going forward with these rights. It would be better to get the keys out of my and Manfred's hands, and into another new and active operator so we have at least two who are re

[2018-01-02 09:51] cbeams commented on #19
@alexej996, I've just assigned you to this role, reflecting the fact that you're actually doing this work.

Could you please do a monthly update comment here for December, per https://github.com/bisq-network/roles/pull/57#issuecomment-354016231.

Specifically, could you please address the two recent outages of the forum, and what you plan to do to prevent these in the future? I think there are a c

[2018-01-02 10:32] cbeams commented on #33
Closing as superseded by the 'Compensation maintainer' role (#31). In theory these could be two separate roles, but in practice they are one, so consolidating them now for ease of reporting, etc.

[2018-01-02 15:38] cbeams commented on #35
## 2017.12 report

_From this point forward, I'll start reporting here in the Ambassador role about whatever outreach activities / interviews, etc I've done over the prior month. Other ambassadors should do the same, with regard to talks they've given, work they've done on various social media platforms, meetups, etc. Note that the details below do not include my work running the @bisq_network twi

[2018-01-02 17:28] alexej996 commented on #19
## 2017.12 update

Discourse forum was upgraded at least once this month during the second forum outage on 27th of December to the current latest version **1.9.0.beta17**.
Backups were done automatically every two days as per previous Discourse configuration, but I downloaded them to a local computer at least once a week in case something goes wrong.

There were two outages of the forum for still

[2018-01-02 21:50] cbeams commented on #25
I've updated the assignees on this role to reflect the people who actually have admin (moderator) access to the r/Bisq subreddit:

![image](https://user-images.githubusercontent.com/301810/34501439-4466aa30-f00f-11e7-8f7b-dd182ab05f62.png)

[2018-01-02 22:27] cbeams commented on #10
@ManfredKarrer and @mrosseel, I've assigned the two of you to this role, since you have both (somewhat independently) been playing it. We can discuss further what the next steps around monitoring are going to be. Just documenting the current situation for now.

[2018-01-03 16:17] ManfredKarrer commented on #19
@alexej996 Great thanks for the update.
@Emzy Are you available as backup for the forum?

[2018-01-03 17:45] Emzy commented on #19
Yes I'm available as backup for the forum.

[2018-01-04 08:46] cbeams commented on #34
Closing as dropped, or at least deferred, for now. It would be excellent to have a dedicated writer / editor role under the DAO, but we have no prospects for it now, and it's not critical to our decentralization goals to fill this role in the near term. It can be reopened if the situation changes.

[2018-01-04 09:44] cbeams commented on #13
## 2017.12 report

I serviced approximately 55 trade disputes during the month of December, which is many more than usual (I don't have exact stats for comparison as this is the first month I'm reporting these numbers).

A number of these trades were challenging and drawn out due to blockchain congestion causing slow trade confirmations. Indeed, it's these delayed confirmations that required most

[2018-01-04 10:21] cbeams commented on #31
## 2017.12 report

I conducted November compensation request voting in bisq-network/dao#18, and everything went well. See that issue for links to voting results and other details.

/cc bisq-network/compensation#26

[2018-01-04 10:30] cbeams commented on #29
## 2017.12 report

Not much to report this month, save for the fact that @Francewhoa has begun to get involved with the documentation effort (welcome, @Francewhoa!) and may do additional work in the future on guides like bisq-network/docs#21. Otherwise, I made minor updates to existing docs, and added a couple bounty issues like the one linked above.

Note that the Slack chats with @Francewhoa sta

[2018-01-04 10:33] cbeams commented on #18
## 2017.12 report

Nothing to report. Only DNS activities this month involved migrating forum.bisq.io to bisq.community in bisq-network/dns#5.

/cc bisq-network/compensation#26

[2018-01-04 11:01] cbeams commented on #4
## 2017.12 report

The most important change we introduced this month around the DAO was beginning to institute a policy of _radical transparency_ with our communications. Per this [Slack chat](https://bisq.slack.com/archives/C6BBPKL3C/p1513073543000245), the idea is to have as many of our chats and discussions in public as possible, and to, by default, record and publish all our video calls (usua

[2018-01-04 12:36] cbeams commented on #1
## 2017.12 report

It's not obvious what should be written here in monthly reports for the co-founders, because ideally, founders have no role to play under the Bisq DAO, i.e., all responsibilities _should_ be captured under some other, specific role. The fact of the matter at present, though, is that the co-founders do still play an important role right now, which is playing all the roles that ha

[2018-01-04 12:40] cbeams commented on #22
## 2017.12 report

Like @ManfredKarrer, I am only _technically_ a Freenode Admin. It's really @mrosseel that's doing the work here, showing up every day, answering questions etc. @mrosseel, could you start providing monthly updates here from your side? It can be a simple one-liner if there's nothing to report.

/cc bisq-network/compensation#26

[2018-01-04 12:48] cbeams commented on #16
## 2017.12 report

 - Experimented with GitHub's new 'team discussions' feature, and discovered that it's not ready for primetime / suitable for our uses under the Bisq DAO. Perhaps that will change.
 - Performed usual admin activities related to creating new repositories, assigning access rights, etc.
 - Migrated from having bisq-network/github act as the 'root node' for our org and all its repos

[2018-01-04 12:57] cbeams commented on #27
## 2017.12 report

We didn't do a newsletter this month, primarily due to bandwidth issues. We don't have any particular commitment to do a newsletter every month, but given that we have a large and growing subscriber base and that we're now paying for the service every month, it would probably be good to get something out roughly every month.

It always takes time to put together a good newslette

[2018-01-04 12:59] cbeams commented on #30
## 2017.12 report

There was no activity around proposals this month.

/cc bisq-network/compensation#26

[2018-01-04 13:25] cbeams commented on #28
## 2017.12 report

I worked with @csacher to begin delegating at least some aspects of maintaining the roles repository. This primarily consisted of on-boarding activities and so on, but still produced a number of positive changes, such as the friendly overview table we now see at https://github.com/bisq-network/roles. In any case, I'm doing the monthly report this time around, and we'll see if it

[2018-01-04 13:46] cbeams commented on #23
## 2017.12 report

 - Created the `#slack-ops` channel and bisq-network/slack repo to track requests and work related to Slack administration
 - Did lots of normal Slack admin activities, e.g. creating channels etc.
 - Kept an eye on all channels to make sure that infrastructure is working for everyone, that channel design is useful and well-understood etc.
 - Encouraged everybody to keep as many

[2018-01-04 13:55] cbeams commented on #21
## 2017.12 report

As I tweeted at https://twitter.com/bisq_network/status/947011519082041345, we had a big surge in followers this month, around 25% when the whole month of December was taken into account. This surely had a lot to do with our appearance on WCN's Bitcoin News show, but I think is also attributable to momentum in general around Twitter. We've had a pretty consistent presence there

[2018-01-04 14:22] cbeams commented on #12
## 2017.12 report

We (@ripcurlx, @csacher and I) kicked off a project to redesign the website this month, but had to drop it just as quickly as we started it due to the massive ramp up in volume and the bandwidth issues it caused for me. See https://github.com/bisq-network/website/issues/35 for details.

Otherwise, with regard to changes, it was an uneventful month on the website. I updated and d

[2018-01-04 17:04] ManfredKarrer commented on #23
1500/month or year? Per months would be really heavy...

[2018-01-04 17:19] mrosseel commented on #22
## 2017.12 report

Nothing special to report, apart from the fact that the topic has been indicating the pending move from #bitsquare to #bisq for some time now, so it could be done any time now. Will be postponed till the bridge discussion is concluded.

[2018-01-04 22:26] cbeams commented on #22
I think it's worth mentioning above, @mrosseel, something about the work you do moderating / answering questions in IRC as well. I don't track this closely, but when I do look at `#chat-bridge` or get matrix updates by email, I very frequently see you (tarcus) fielding Q&A. Feel free to include that sort of thing in your updates, e.g. some commentary on or mention of the relative time and effort y

[2018-01-08 05:45] cbeams commented on #23
Per month, given our current number of active users.

[2018-01-08 06:09] cbeams commented on #27
We've been bumped up to a new price tier after crossing 2500 subscribers:

![image](https://user-images.githubusercontent.com/301810/34660474-e737d446-f442-11e7-9708-b0640a2a1828.png)

[2018-01-08 19:16] cbeams commented on #19
Thanks, @Emzy. @alexej996, could you work out with @Emzy what being a "backup" means and add it to the role spec? Doesn't have to be elaborate. Should just make it clear what the responsibility of the backup is, when and to what they are expected to respond, etc.

@Emzy, I've added you as an assignee here to indicate that you're the 'backup' or 'secondary' role owner here (we can figure out that t

[2018-01-08 19:21] cbeams commented on #27
I've just changed the title of this role from "Mailchimp Admin" to "Newsletter Editor", as this is really the role we most need. The editor will also own and administer the Mailchimp account, but the most important work is actually crafting and sending a regular newsletter. See the updated description for further details.

[2018-01-08 19:33] cbeams commented on #24
I've reached out to Alf Werrmann, who (I believe) moderates https://telegram.me/bisq to see if he is interested in officially owning on this role.

Alf if you are interested in owning this role, please let me know what your GitHub ID is and I'll invite you to our organization and assign you to it.

[2018-01-08 19:36] cbeams commented on #24
![image](https://user-images.githubusercontent.com/301810/34688780-9042fbfe-f4b3-11e7-9109-513ebd660fed.png)

[2018-01-09 22:41] cbeams commented on #9
@dan-da, per bisq-network/dao#30, your dan-da/bitsquare_markets repo has been brought under the @bisq-network org at https://github.com/bisq-network/markets. Are you interested in continuing to fill the role of maintaining the codebase and operating the website? This would of course include getting compensated in $BSQ for your work.

If so, great. Please accept your invitation to join the @bisq-ne

[2018-01-31 13:56] alexej996 commented on #19
## 2018.1 update

Discourse forum was updated once this month to the currently latest version **2.0.0.beta1** on 5th of January.
Backups were downloaded at least twice per week as described in the role specification.

The forum experienced no issues or down time this month and seems to be running as intended.

We had an increase in user visits this month and a decrease in new users, topics and pos

[2018-01-31 14:37] mrosseel commented on #22
## 2018.01 report

Not many discussions on IRC, not much effort was needed to keep up this month.

[2018-01-31 22:30] cbeams commented on #35
## 2018.01 report

 - Podcast interview with the Steal This Show podcast on Bisq (https://github.com/bisq-network/events/issues/10)
 - Written interview with ForkLog on recent Coincheck hack (https://github.com/bisq-network/events/issues/11)

/cc bisq-network/compensation#35

[2018-01-31 22:32] cbeams commented on #31
## 2018.01 report

I conducted December voting in bisq-network/dao#26. See issue for results and other details.

/cc bisq-network/compensation#35

[2018-01-31 22:36] cbeams commented on #29
## 2018.01 report

No major work done around docs, other than keeping existing docs up to date. We still have outstanding bounties for how-to guides; no takers as yet.

/cc bisq-network/compensation#35

[2018-01-31 22:37] cbeams commented on #18
## 2018.01 report

Nothing to report.

/cc bisq-network/compensation#35

[2018-01-31 23:34] cbeams commented on #4
## 2018.01 report

Role specs and role bonding were entirely on hold this month while handling high-pri support issues around reimbursements.

Otherwise, here's what happened this month:

 - Created #explorer infrastructure (bisq-network/dao#23)
 - Created #support infrastructure (bisq-network/dao#27)
 - Created #btcnode infrastructure (bisq-network/dao#28)
 - Created #events infrastructure (bisq-

[2018-01-31 23:50] cbeams commented on #3
## 2018.01 report

I didn't have myself listed as an exchange maintainer since creating this role in September, because even though I had maintainer-style admin rights to the repository, I wasn't actively working in the codebase, and @ManfredKarrer was really doing everything. That's changed somewhat this month, and I've begun to take a more active role there, so I've assigned myself to the issue,

[2018-02-01 00:07] cbeams commented on #1
## 2018.01 report

Nothing major to report this month, other than observing that the number of serious @bisq-network/contributors has been growing and that this a great and necessary thing for our decentralization goals. Welcome, all!

In general, my spirits are high and I'm feeling optimistic about Bisq's future. These last couple months have been intense, and at some points intensely frustrating

[2018-02-01 00:09] cbeams commented on #22
## 2018.01 report

Thanks, @mrosseel. I have nothing to report, as I had no involvement with IRC this month. Going forward, I'll let you do these updates. I'm happy to keep my op status in Freenode, but will play a passive role from now on and won't do further reports here unless something changes.

/cc bisq-network/compensation#35

[2018-02-01 00:16] cbeams commented on #16
## 2018.01 report

We started using Atomist this month as a replacement for Slack's built-in GitHub integration. You've probably seen the @atomist bot in most of our channels reporting commits and comments on GitHub issues and pull requests, etc. This is just the beginning of what Atomist can do, though. It's really all about automating the process of development itself (or automating everything a

[2018-02-01 00:26] cbeams commented on #27
## 2018.01 report

Our newsletter continued to grow this month—we're now up to 2,800 subscribers. Unfortunately, I've had no time to get a newsletter out, which is really a shame. This is a role we should start aggressively trying to hand off to someone. It's an amazing opportunity, really, to communicate with ~3K people about what we're doing. There's so much going on now, that the newsletter can

[2018-02-01 00:29] cbeams commented on #5
## 2018.01 report

As I mentioned in this month's Exchange Maintainer update at https://github.com/bisq-network/roles/issues/3#issuecomment-362110355, we removed the old `provider` module from the bisq-network/exchange repository and created the new https://github.com/bisq-network/pricenode repository to replace it.

I'm still working on some refactoring there, and there is a lot we can do to make

[2018-02-01 00:31] cbeams commented on #30
## 2018.01 report

We had one new proposal issue this month around how to turn Bisq nodes into Lightning nodes, and it's begun to get some activity. See bisq-network/proposals#3.

/cc bisq-network/compensation#35

[2018-02-01 00:40] cbeams commented on #28
## 2018.01 report

We added a number of new roles over the last month, including:

 - P2P Network Developer (bisq-network/roles#62)
 - JavaFX UI Developer (bisq-network/roles#63)
 - Support Staff (bisq-network/roles#64)
 - Events Maintainer (bisq-network/roles#65)
 - Bitcoin Node Maintainer (bisq-network/roles#66)
 - Bitcoin Node Operator (bisq-network/roles#67)

See each for details.

As for owne

[2018-02-01 00:51] cbeams commented on #23
## 2018.01 report

As I mentioned a few days ago in `#general` at https://bisq.slack.com/archives/C0336TYTG/p1516633849000423, we're doing amazingly well at keeping our conversations public:

![image](https://user-images.githubusercontent.com/301810/35655395-f31bc490-06f1-11e8-9bfb-e61f812623d6.png)

Otherwise, nothing remarkable to mention, other than that we've been growing our total users and a

[2018-02-01 01:10] cbeams commented on #21
## 2018.01 report

This was, I believe, our best month ever in terms of Twitter engagement. Our follower count grew by grew by 27% again this month, adding 2,127 new followers in total to hit **10,000 followers** right on Jan 31st. Wow!

Upstats across the board otherwise, too.

![image](https://user-images.githubusercontent.com/301810/35655882-85ddc1aa-06f4-11e8-910d-f0d4aaf5f2df.png)

/cc bisq-n

[2018-02-01 01:16] cbeams commented on #12
## 2018.01 report

Nothing to report. Just basic maintenance on the website this month, updates for new releases, typo fixes and the like. No analytics from this point forward, I'm leaving that to @ripcurlx in #40 as mentioned above.

Generally, the website is still a source of pain for me, and I'd love to see progress on the redesign, but there was just no opportunity for it over the last month o

[2018-02-01 01:47] cbeams commented on #13
## 2018.01 report

I arbitrated approximately 50 trade disputes this month, which like last month is higher than usual, but this was due at least in part to the timeout and transaction broadcast failure issues that came up in v0.6.3 and v0.6.4, which I've written about elsewhere in this month's reports.

One significant change we've instituted over the last month is creating "tracking issues" for

[2018-02-02 13:43] thob commented on #24
current Tg group link is https://t.me/bisq_p2p - _I help out there with automatized moderation efforts…_

[2018-02-02 15:16] cbeams commented on #24
Thanks for the heads-up, @thob! Would you be interested in officially taking on this role of Telegram Admin and earning BSQ for your efforts?

[2018-02-02 16:16] thob commented on #24
Hi, I'm gonna discuss it with Alf

[2018-02-02 22:44] thob commented on #24
Had a talk with Alf, it's a yes from me. Please advise what to do.

[2018-02-03 09:55] cbeams commented on #24
Great, I'll get back to you about this with more details, @thob. In the meantime, can you explain what kind of administrative rights you already have over the Bisq Telegram channel? How do they compare to Alf's rights? Thanks.

[2018-02-03 10:24] thob commented on #24
Alf is the creator of this group, I'm an admin _(there're others as well)_ who took care of automatizing moderation and a few other things in order to avoid/reduce spam.
![screen-2018-02-03 11-26-12](https://user-images.githubusercontent.com/755337/35766251-e5241e3e-08d4-11e8-8ef9-461a3f6b6fa5.png)

[2018-02-16 13:51] cbeams commented on #14
I've assigned @Emzy and @mrosseel here, as both are also running pricenodes, per https://github.com/bisq-network/exchange/blob/f73395f6f1e578909f81d4f3b5be80211ae3e01a/core/src/main/java/io/bisq/core/provider/ProvidersRepository.java#L37-L41

[2018-02-19 10:34] cbeams commented on #14
I've just assigned myself to this role, as I have now taken over one of @ManfredKarrer's pricenodes. See the commit / PR above for details.

[2018-02-28 22:44] cbeams commented on #35
## 2018.02 report

As it turns out the Steal this Show and ForkLog interviews mentioned above did not actually come out in January, they came out this month, so I'm mentioning them here again for completeness. In the spirit of including only complete, finished, shipped work in compensation requests, I won't mention future such interviews in a monthly report until they've actually become publicly a

[2018-02-28 22:47] cbeams commented on #31
## 2018.02 report

I conducted Feb 1st–3rd voting in https://github.com/bisq-network/dao/issues/39.

/cc bisq-network/compensation#40

[2018-02-28 23:03] alexej996 commented on #19
## 2018.2 update

Discourse forum was updated twice this month, on 3rd of February to version **2.0.0.beta2** and to version **2.0.0.beta3** on 16th.
Backups were downloaded at least twice per week as described in the role specification.

On 9th of February SSL certificates for the old forum domain (forum.bisq.io) were manually renewed.

On 19th of February there was a temporary issue with the SSL

[2018-02-28 23:29] cbeams commented on #30
## 2018.02 report

Just one new proposal this month, around building native mobile apps. It's only an issue at this point and could use more feedback: https://github.com/bisq-network/proposals/issues/4

/cc bisq-network/compensation#40

[2018-02-28 23:45] cbeams commented on #29
## 2018.02 report

Nothing to report on docs.

Help wanted! Someone who can **fully own and take initiative with Bisq's docs** could add a lot of value to the network.

The ideal docs maintainer would have:

 - Strong technical writing skill
 - High editorial standards
 - Git + GitHub expertise
 - Markdown skill, @asciidoctor love
 - Experience working in open source
 - Ability to attract other si

[2018-03-01 00:01] cbeams commented on #29
I just tweeted a link to the above at https://twitter.com/bisq_network/status/968998436463955968. If you're here because of that and think this is something you'd be interested in, read https://bisq.network/phase-zero and come talk to us in `#docs` at https://bisq.network/slack-invite.

[2018-03-01 00:15] cbeams commented on #28
## 2018.02 report

No new roles were added this month, and that's the first time that's happened since the inception of phase zero in October. This means we're approaching a reasonably complete model of all the roles required to make the Bisq DAO function. There are [44 roles](https://github.com/bisq-network/roles/issues?q=is%3Aissue+is%3Aopen+sort%3Acreated-desc+label%3Aa%3Arole) at present—and p

[2018-03-01 00:59] cbeams commented on #27
## 2018.02 report

I sent one newsletter this month, regarding USD liquidity week: https://github.com/bisq-network/newsletter/issues/8. While it got a decent response, I'm not sure it was worth the work I put into it.

In general, the Bisq newsletter remains a bit of a wasted resource. We are now at 2800+ subscribers and I'm paying $45/month for that, but we're not sending them any regular communi

[2018-03-01 01:05] cbeams commented on #23
## 2018.02 report

From https://bisq.slack.com/admin/stats. Note how our **weekly active users** stat continues to grow month over month.

![screencapture-bisq-slack-admin-stats-1519866154081](https://user-images.githubusercontent.com/301810/36821712-a5a39a12-1cf4-11e8-8ed1-669e57a627af.png)

/cc bisq-network/compensation#40

[2018-03-01 01:08] cbeams commented on #22
## 2018.02 report

Not a 'monthly report' per se, but I just noticed that the `#chat-bridge` channel in Slack is publishing duplicate messages. @mrosseel, could you look into that?

/cc bisq-network/compensation#40

[2018-03-01 01:30] cbeams commented on #21
## 2018.02 report

Twitter, along with YouTube only becomes a more important resource for us to get the word out about Bisq.

 - Followers grew by ~800 this month
 - Note the doubling of Tweet impressions as well

![image](https://user-images.githubusercontent.com/301810/36822263-6bb71d6c-1cf7-11e8-82f0-8a160cff65e3.png)

This week I learned a couple fun things:

 - @bisq_network is one of 182 mem

[2018-03-01 01:31] cbeams commented on #18
## 2018.02 report

Nothing to report.

/cc bisq-network/compensation#40

[2018-03-01 01:33] cbeams commented on #16
## 2018.02 report

Not much to report this month.

GitHub published a new `/github` Slack app that looks promising. I'll be replacing our old Slack GitHub integration over the next month, and possibly swapping out Atomist for the new native GitHub app if the latter seems like a complete replacement for what we're using Atomist for now.

/cc bisq-network/compensation#40

[2018-03-01 01:37] cbeams commented on #14
## 2018.02 report

This is my first report, now that (per the comment above), I've now taken over one of Manfred's pricenode onion addresses.

This pricenode is now backed by code at the HEAD of my `cbeams/bisq-pricenode:refactor` branch, which will be merged asap (see https://github.com/bisq-network/pricenode/pull/7). See my comment in Pricenode Maintainer (#5) for more details on that.

In any c

[2018-03-01 02:11] cbeams commented on #13
## 2018.02 report

I arbitrated ~30 trade disputes this month, and the second half of the month was very quiet. Many days went by without a single ticket coming in, which is unusual.

I'm still seeing occasional dropped arbitration messages, and I've logged them at https://github.com/bisq-network/exchange/issues/1173.

A number of trades continued to suffer from dropped trade protocol messages, an

[2018-03-01 02:22] cbeams commented on #12
## 2018.02 report

No major changes this month. A couple version updates and a single pull request.

/cc bisq-network/compensation#40

[2018-03-01 02:27] cbeams commented on #5
## 2018.02 report

I spent a lot of time this month on refactoring the newly-extracted pricenode at bisq-network/pricenode#7. It is up and running now as my own pricenode, but the PR itself has not yet been merged, and thus other operators have not updated to it. Therefore, **I'm not going to ask for compensation for this work this month, given that it is not finished work.** I'll include it next

[2018-03-01 02:44] cbeams commented on #4
## 2018.02 report

 - Conducted Feb 1st–3rd voting (bisq-network/dao#39). Note that these "conduct voting" issues will be managed under bisq-network/compensation going forward (e.g. bisq-network/compensation#44)
 - @csacher revamped Bisq's presence on Facebook. We created a `#facebook` channel to organize future work. No dedicated repo yet, not clear there'll be one necessary.

Role specs and bond

[2018-03-01 02:49] cbeams commented on #3
## 2018.02 report

 - Shipped v0.6.5, v0.6.6, v0.6.7
 - we've stabilized all timeout / broadcast bugs, and dropped message bugs are down to a minumum
 - DAO implementation work ongoing
 - lots of gui work underway

From this point forward, @ripcurlx and @cbeams are going to take point on all exchange maintenance activities, in order to relieve @ManfredKarrer of this duty so he can focus (with @sqr

[2018-03-01 02:58] cbeams commented on #1
## 2018.02 report

It's been an exciting month!

 - many contributions coming in from new contributors
 - word about Bisq is getting out there esp. via Twitter and YouTube
 - the USD liquidity week is going well
 - trading volumes are continuing to grow
 - I even made time to code this month!

Our focus needs to continue to be recruiting contributors. I think what we're doing on Twitter and YouTub

[2018-03-01 07:37] mrosseel commented on #22
yes I’ve noticed, will look into it

[2018-04-02 10:53] alexej996 commented on #19
## 2018.3 update

Discourse forum was updated once this month, on 8th of March to version **2.0.0.beta4**.
Backups were downloaded at least twice per week as described in the role specification.

There were some issues with forum sending emails this month. Gmail seems to be suspicious of SMTP logins from the forum.
There were also some phishing attempts that started this month. Emails are being se

[2018-04-04 04:58] cbeams commented on #35
## 2018.03 report

 - I did an interview with Zack Voell on the Coin Pod that came out on March 21st, see https://github.com/bisq-network/events/issues/19.
 - I did an interview with JW Weatherman on Under the Microscope that streamed live on on March 24th, see https://github.com/bisq-network/events/issues/20.

PLEASE NOTE: It would be great to see other Bisq ambassadors reporting here on the work

[2018-04-04 05:00] cbeams commented on #31
## 2018.03 report

I conducted Mar 1st–3rd voting in https://github.com/bisq-network/compensation/issues/44.

/cc bisq-network/compensation#57

[2018-04-04 05:05] cbeams commented on #30
## 2018.03 report

We had an uptick in new proposals over the month of March (some of which were my own), but not a lot of resolution / coming to consensus about them. To a certain degree, it's fine for proposals to hang around for a while, in order for people to have time to read, think about, and respond to them, but at a certain point, proposals basically "go cold" and either need to be brought

[2018-04-04 05:12] cbeams commented on #29
## 2018.03 report

There was very little activity around docs this month, other than the usual maintenance of existing documentation. One thing I've been thinking about now that we've split up the old bisq-network/exchange repository into bisq-common, bisq-core, bisq-p2p, bisq-desktop, etc is whether we want to continue with a dedicated docs repository like we have now, or possibly to move (back)

[2018-04-04 07:29] cbeams commented on #27
## 2018.03 report

Per this Slack conversation between @cbeams, @ManfredKarrer and @flix1, we have tentatively planned to shut down our MailChimp account as soon as possible.

https://bisq.slack.com/archives/C6C8ELRD4/p1522579176000005:

![image](https://user-images.githubusercontent.com/301810/38294071-029cb1ee-37ea-11e8-8061-2e49711afd0a.png)

I am considering setting up a bisq-announce@lists.bi

[2018-04-04 07:35] cbeams commented on #23
## 2018.03 report

From https://bisq.slack.com/admin/stats:

![image](https://user-images.githubusercontent.com/301810/38294519-6b6be63a-37eb-11e8-94fa-f6192d7c8ab0.png)

/cc bisq-network/compensation#57

[2018-04-04 07:46] cbeams commented on #22
@mrosseel, can you leave monthly report comments here in conjunction with your compensation requests? Your request for this month (bisq-network/compensation#55) does have a link to a comment in this issue, but it's old, and refers to the `2017.12` comment above.

If there's nothing to report, you can just say "nothing to report". These updates are, at minimum, a 'heartbeat' signal that role owners

[2018-04-04 07:51] cbeams commented on #22
I also updated the description of this issue to show that you, @mrosseel, are the 'primary' for this role, and that @ManfredKarrer and I are 'secondary'. I think we need a distinction like this so that folks know who should be "on point" (the 'primary') with servicing requests, doing monthly reports, etc, and who is there as a backup (the 'secondaries') that can provide emergency support or fill i

[2018-04-04 07:55] mrosseel commented on #22
## 2018.03 report

* solved the duplicate messages error which was caused by the 'restart=always' feature of docker. I stopped one container and started another, but the old one came back from the dead.
* answered a few support requests

/cc bisq-network/compensation#55

[2018-04-04 08:14] cbeams commented on #21
## 2018.03 report

Observations: We tweeted ~half as many times this month, had half as many profile visits, half as many new followers, half as many mentions as last month, and our overall number of tweet impressions grew about 10% from 1.11M to 1.22M. I can't draw any conclusions from that data, but it's interesting to see how things play out.

In general, I'm not following any strategy with Twi

[2018-04-04 08:15] cbeams commented on #18
## 2018.03 report

At @alexej996's request, I created a CNAME for the old forum.bisq.io to the new bisq.community. Otherwise, nothing to report.

/cc bisq-network/compensation#57

[2018-04-04 08:21] cbeams commented on #16
## 2018.03 report

As discussed in last month's report, I did swap out all Atomist integrations with the new `/github` Slack app, and while it has some rough edges, it's basically meeting our needs.

I created the new https://github.com/bisq-network/bisq repository this month, as a new "root level" repository for managing all other repositories in the @bisq-network organization. See the readme in

[2018-04-04 08:36] cbeams commented on #14
## 2018.03 report

Alas, I have still not finished the review and merge of bisq-network/pricenode#7, and therefore other pricenode operators have not yet upgraded to it. In the meantime, however, my pricenode instance, which is built from that PR branch, has been up and running without issue for a couple months. So I think we can call it a well-tested change at this point ;)

Note that @sqrrm atte

[2018-04-04 08:39] cbeams commented on #5
## 2018.03 report

See my comments in the Pricenode Operator role at https://github.com/bisq-network/roles/issues/14#issuecomment-378524487.

/cc bisq-network/compensation#57

[2018-04-04 09:04] cbeams commented on #13
## 2018.03 report

I arbitrated 40 cases this month.

Major issues continue to be:

 - dropped "Payment Started" trade protocol messages (bisq-network/support#84)
 - failed bitcoin transaction broadcasts (bisq-network/support#94)
 - dropped arbitration chat messages (bisq-network/support#85)

By far the most important issue to fix is dropped 'Payment Started' trade protocol messages.

/cc bisq-net

[2018-04-04 09:10] cbeams commented on #12
## 2018.03 report

No major changes this month.

/cc bisq-network/compensation#57

[2018-04-04 09:21] cbeams commented on #3
## 2018.03 report

As discussed in the comments above, we split up the `bisq-network/exchange` into a number of smaller repositories this month:

 - https://github.com/bisq-network/bisq-common
 - https://github.com/bisq-network/bisq-p2p
 - https://github.com/bisq-network/bisq-core
 - https://github.com/bisq-network/bisq-desktop
 - https://github.com/bisq-network/bisq-seednode
 - https://github.com

[2018-04-04 09:24] cbeams commented on #3
## 2018.03 report (continued)

Also, I ported all bisq-* component builds from Maven to Gradle, and introduced the top-level https://github.com/bisq-network/bisq repository to organize all bisq-* components into a single _composite build_ in Gradle terms. How to work with all of this is described at https://github.com/bisq-network/bisq#readme.

[2018-04-04 09:35] cbeams commented on #4
## 2018.03 report

This role is in a bit of flux at the moment. I introduced the https://github.com/bisq-network/bisq repository as a new, more intuitively-named "root level" repository in the @bisq-network GitHub organization (see README within), and the https://github.com/bisq-network/dao repository is now less important. It is still present, but it serves only to aggregate "non-code" repositori

[2018-04-04 09:42] cbeams commented on #28
## 2018.03 report

Since the inception of the roles repository, and the original writing of the Phase Zero paper, the idea has been to put together specifications for each role under the Bisq DAO. After 6 months, however, this hasn't happened, and the fact that it hasn't been able to get priority during that time I think this tells us that we simply don't need it yet.

So I'd like to officially de

[2018-04-04 10:37] cbeams commented on #1
## 2018.03 report

I focused in a big way on coding this month, specifically around breaking up the bisq-* repositories, porting our builds from Maven to Gradle and getting some semi-ambitious refactoring done with @blabno around the new `bisq.asset` package. I also began work prototyping a new, core-level gRPC API and `bisq` command line client, but have not published any of that work just yet.

[2018-04-06 13:05] cbeams commented on #22
I updated the description of this issue to distinguish @mrosseel as the primary role owner and @cbeams and @ManfredKarrer as secondary, per bisq-network/proposals#12.

[2018-04-14 16:11] dsbeasley commented on #29
Also interested in this role!

[2018-04-16 09:08] cbeams commented on #29
@dsbeasley, thanks for your interest. The best thing to do for a start is to contribute to docs, i.e. submit your own pull requests and review those of others. I know you're already in Slack—let's chat there in the `#docs` about work you might be interested in doing.

[2018-04-29 15:17] alexej996 commented on #19
## 2018.4 update

Discourse forum has been updated twice this month. First time on 13th from version **v2.0.0.beta4** to **v2.0.0.beta6** and second time on 27th to currently latest version **v2.0.0.beta7**.
Backups were downloaded at least twice per week as described in the role specification.

We had more issues with emails this month, although not quite as severe. On 5th of April forum was reco

[2018-04-30 18:28] mrosseel commented on #22
## 2018.04 report

* created https://github.com/bisq-network/proposals/issues/16
==> this resulted in #bitsquare no longer being accessible.
So effectively the only working irc channel is #bisq as intended. The transition however was not good, mainly due to the fact that only the creator of a channel can perform certain things, not an operator - a communication misunerstandig did the rest. Even tr

[2018-05-01 14:39] ManfredKarrer commented on #14
## 2018.04 report
Running 2 instances. Still running the old version of the price node.
No issues occurred that month.

[2018-05-01 14:51] ManfredKarrer commented on #25
Who is primary moderator? I would like to be not in that role.

[2018-05-01 14:54] ManfredKarrer commented on #15
## 2018.04 report
Running 6 Bitcoin and 2 LTC instances. Digital ocean updates their servers frequently with security patches and that causes restarts which kills the seed node (no crone job for autostart). I am following the old email notifications and got alerted soon to start the seed node in such cases.

[2018-05-01 14:55] ManfredKarrer commented on #6
## 2018.04 report
There have been some bigger refactoring of the startup process which also affected the seed node.

[2018-05-01 14:56] ManfredKarrer commented on #8
## 2018.04 report
Following roughly the BitcoinJ mailinglist or updates about Segwit. Seems there is still no release in sight. Looking out for a dedicated developer for the Bitcoin part, but so far nobody has showed up.

[2018-05-01 14:58] ManfredKarrer commented on #10
## 2018.04 report
We are still looking for a developer who works on better monitoring tools. The current http://seedmonitor.0-2-1.net/ works pretty reliable regarding false positive reporting but we still have no notifications enabled. Sometimes the stats for the Bitcoin node is not correct (a failing node does not gets reconnected automatically).

[2018-05-01 15:00] ManfredKarrer commented on #7
## 2018.04 report
There have been some bigger refactoring of the startup process which also affected the stats node.

[2018-05-01 15:09] ManfredKarrer commented on #1
## 2018.04 report
I try to stay focused on the DAO development and get good progress there. We conducted a few tech sessions to spread better the technical base of Bisq. I also did a dev session specially for those who might do a code review on the DAO.
I tried to help the API developers by refactoring the startup process and made some PRs for giving examples of the strategy I have in mind for doi

[2018-05-01 15:53] ManfredKarrer commented on #9
## 2018.04 report
I am operating the market server, so as there is no one else responsible I will do the report:
No known incidents occurred but I do not follow or monitor it closely.

[2018-05-01 16:06] ManfredKarrer commented on #3
## 2018.04 report
Reviewing and merging PRs. Briefing and handover to @ripcurlx and @cbeams the release process and testing scenarios.

[2018-05-01 17:36] alexej996 commented on #25
I don't think we ever had a primary moderator. Maybe it doesn't make much sense to have primary moderators as Bisq keeps growing. Having multiple active moderators might be necessary in future.

Currently I am most active on Reddit, so I guess it would be me, but that was never really discussed I believe.

[2018-05-01 21:35] ManfredKarrer commented on #25
@alexej996 If you are ok to take the lead here would be great! As soon we find someone else who want to take the main responsibility we have move it over again.

[2018-05-01 21:42] alexej996 commented on #25
Sure. I will start writing up reports then from now on if everyone agrees with it.

[2018-05-02 10:26] cbeams commented on #35
## 2018.04 report

Nothing to report.

/cc bisq-network/compensation#68

[2018-05-03 06:30] cbeams commented on #13
## 2018.04 report

I arbitrated 45 cases this month.

Major issues continue to be:

 - dropped "Payment Started" trade protocol messages (bisq-network/support#84)
 - dropped arbitration chat messages (bisq-network/support#85)

A seemingly disproportionate number of issues came up around the new N26/MoneyBeam payment method as well. Buyer's having issues adding seller's to their contact book or som

[2018-05-03 06:35] cbeams commented on #31
## 2018.04 report

I conducted Apr 4th–6th voting https://github.com/bisq-network/compensation/issues/56.

/cc bisq-network/compensation#68

[2018-05-03 06:37] cbeams commented on #4
## 2018.04 report

Nothing to report. Again, the new purpose of the `dao` repository as described in last month's report comment is pretty minimal, so there probably won't be much to report on here until / unless something changes with it. I'm still not fully happy with this arrangement, but it's fine for the time being.

/cc bisq-network/compensation#68

[2018-05-03 06:40] cbeams commented on #18
## 2018.04 report

No activity / nothing to report.

/cc bisq-network/compensation#68

[2018-05-03 11:49] cbeams commented on #29
## 2018.04 report

Big changes to docs this month!

 - @cbeams created new [docs.bisq.network](https://docs.bisq.network) site and published existing documentation there
   - https://github.com/bisq-network/bisq-docs/pull/36
 - @cbeams produced [Intro to Bisq](https://docs.bisq.network/intro.html) doc
 - @cbeams produced [New Contributor Checklist](https://docs.bisq.network/contributor-checklist.h

[2018-05-03 12:18] cbeams commented on #16
## 2018.04 report

@cbeams and @emzy began logging @bisq-network GitHub organization notifications to github@lists.bisq.network. See https://github.com/bisq-network/lists/issues/5.

/cc bisq-network/compensation#68

[2018-05-03 12:29] cbeams commented on #27
## 2018.04 report

We have not yet gone ahead with the plan to decommission Mailchimp described in last month's report. The jury is still out for me on whether we should, and in particular with @pedromvpg's new design refresh coming together, we could see increased interest in our mailing list, and that much more reason to take advantage of it.

I haven't heard any additional complaints about Mail

[2018-05-03 12:38] cbeams commented on #27
Here is the mail I just sent to compliance@mailchimp.com about this, and their auto-response:

![image](https://user-images.githubusercontent.com/301810/39576774-96ebce00-4edf-11e8-8f82-fbe02d81728d.png)

[2018-05-03 12:40] m52go commented on #27
Yeah their compliance team shut me down yesterday but the account was still functional. I just couldn't send any campaigns. You should be able to export contacts while deactivated.

Email is still tremendously powerful...in my opinion, it's not worth skipping email just because MailChimp is throwing a fit. I'd be happy to take on this role if/when we find something that works out.

Should I look i

[2018-05-03 13:00] cbeams commented on #27
As I mentioned above in https://github.com/bisq-network/roles/issues/27#issuecomment-378507227:

I don't know why we couldn't do it this way. It's lo-fi, no fancy templates, etc, but it's something we can own completely. I'm open to ideas about this or going with another different service, but most projects don't have their own mailing list infrastructure; we do. Why not use it?

Ultimately we sho

[2018-05-03 13:06] cbeams commented on #5
## 2018.04 report

@cbeams completed the pricenode refactoring at bisq-network/bisq-pricenode#7, and it has been merged, but not all @bisq-network/pricenode-operators have upgraded yet.

/cc bisq-network/compensation#68

[2018-05-03 13:10] cbeams commented on #14
## 2018.04 report

My instance ran without any issues on Heroku this month at a cost of $7.00. I'm running v0.7.1-SNAPSHOT from commit bisq-network/bisq-pricenode@545887c.

/cc bisq-network/compensation#68

[2018-05-03 13:11] cbeams commented on #14
@Emzy and @mrosseel, could you please report here on this issue about the pricenode instances you're operating in the same way that @ManfredKarrer and I have done above? Thanks.

[2018-05-03 16:33] cbeams commented on #30
## 2018.04 report

@cbeams wrote a [proposal on refining the proposal process](https://github.com/bisq-network/proposals/issues/11), which was approved and led to putting together the https://docs.bisq.network/proposals.html doc in https://github.com/bisq-network/bisq-docs/pull/40. This new doc defines the proposals process and all @bisq-network/contributors are encouraged to read and understand i

[2018-05-03 17:15] cbeams commented on #21
## 2018.04 report

I'm not sure whether it's obvious to others in the same way it is to me, watching the @bisq_network's handle as closely as I do, but Twitter sentiment about Bisq is really very good. We get positive mentions most every day, and sometimes many times per day, and have vanishingly few negative mentions.

Nothing else specific to report this month, here are the analytics as usual. 9

[2018-05-03 17:33] cbeams commented on #23
## 2018.04 report

From [https://bisq.slack.com/admin/stats](bisq.slack.com/admin/stats):

We're now at 568 members.

Interesting that we doubled our storage used (from 2.6G to 5.2G) in one month this month. I imagine this has to do with how much more we're uploading Zoom call videos now, but I'm not sure.

![screencapture-bisq-slack-admin-stats-2018-05-03-19_26_47](https://user-images.githubuserc

[2018-05-03 17:36] cbeams commented on #12
## 2018.04 report

No major changes this month, but changes may be on the way soon with @pedromvpg's new brand refresh proposal, which includes a fairly detailed treatment of the website. See https://github.com/bisq-network/bisq-design/blob/master/bisq-refresh.pdf for details.

/cc bisq-network/compensation#68

[2018-05-03 19:07] Emzy commented on #14
## 2018.04 report
Running one instance. Still running the old version of the price node.
No issues occurred that month.

[2018-05-04 07:07] cbeams commented on #27
Here is the mail I just got back from MailChimp. We have 48 hours to clear out our stuff before we're locked out for good. I'll take care of this today.

![image](https://user-images.githubusercontent.com/301810/39616184-7de18850-4f7a-11e8-9ef7-8e92e8da50df.png)

[2018-05-04 12:55] cbeams commented on #20
I've updated the assignees and description to reflect that @ripcurlx is now the primary role owner here. @ripcurlx, please report monthly, etc as appropriate, thanks.

[2018-05-04 16:45] ManfredKarrer commented on #27
What a crappy company to close accounts without proper notice! But good to get rid of it. Maybe we should rethink other commercial services we depend on as well. Just imagine Slack would start the same crap.... would be quite a hit for our communication infrastructure...

[2018-05-04 18:38] cbeams commented on #28
## 2018.04 report

There were a lot of changes around roles this month. Some of the following items are still in progress as I write, but I'm listing them all out here to give a comprehensive overview.

 - @alfsbs took on the Payment Method Maintainer role (#38), welcome!
 - @dsbeasley took on a secondary YouTube Admin role (#56), welcome!
 - @alexej996 has agreed to go from secondary Support Staf

[2018-05-04 19:06] cbeams commented on #3
## 2018.04 report (FINAL REPORT)

This is the final report for the Exchange Maintainer role, and I'm now closing it as essentially obsolete in light of the `bisq-network/exchange` repository having been broken up into multiple repositories over the last couple months.

I'll create dedicated maintainer roles for each of new repositories in time for the next voting / reporting round. Note that I've

[2018-05-05 06:04] cbeams commented on #13
The following is our dispute-to-trade ratios over the last 5 months:

[code]

The numerator is the estimated number of disputes arbitrated, taking my own values as tracked in the monthly reports above, and multiplying it by 2 to take into account the likely number of trades that @keo-bisq arbitrated as well.

The denominator is the total number of trades processed on the network in that month.

Th

[2018-05-05 17:48] cbeams commented on #27
Closing as complete. See details in bisq-network/mailchimp#9, and note that I've republished our MailChimp newsletter archive at https://bisq-network.github.io/mailchimp. I have also exported the ~3000 subscriber names and email addresses and I'll be writing a proposal shortly on what to do with them.

[2018-05-08 09:08] cbeams commented on #19
See my comments on this role in the context of @alexej996's current monthly compensation request at https://github.com/bisq-network/compensation/issues/60#issuecomment-387336154

[2018-05-08 09:08] cbeams commented on #25
See my comments on this role in the context of @alexej996's current monthly compensation request at https://github.com/bisq-network/compensation/issues/60#issuecomment-387336154

[2018-05-21 15:25] ghost commented on #7
Hello,
Sorry for my question, but things are not very clear for me:
Is this Statsnode Maintainer role still open or not ?
Thanks

[2018-05-21 15:50] ManfredKarrer commented on #7
The maintainer role not really atm, that is about the Github maintenance. Once a developer has worked more on that and has earned reputation and trust we can move over the maintainer role as well.
The operator role though would be open and it is about operating the server for the https://markets.bisq.network/ page which includes running the stats node jar file there.
See: https://github.com/bisq-n

[2018-05-21 15:56] ghost commented on #7
Thanks Manfred, I'll look at the provided links.

[2018-05-22 16:04] r4el commented on #20
Hello,
Just joined Bisq on Transifex. For reference only, I have published technical papers in English, and performed document translations in Spanish and French in the past. Furthermore, I am interested in supporting Bisq's Transifex platform as admin if you'd like.

[2018-05-22 16:52] ManfredKarrer commented on #20
Hi @r4el,
Thanks for reaching out! That would be great if you could help us there! I assume you are already experienced with Transifex. Can you PM me on Slack or the Forum, then I can bring you in contact with the current Admin...

[2018-05-25 09:25] ripcurlx commented on #20
@r4el: Feel free to ping me anytime here or on Slack so we can have a quick call on the requirements for taking over this role. Any help is highly appreciated! 👍

[2018-05-29 17:42] alexej996 commented on #25
## 2018.5 update

In the past I added links to the download page, GitHub, Twitter, Slack and forum in the sidebar, as one user suggested. This month I added links to the documentation and YouTube channel, since there were questions about these things on our subreddit.

Other than this, there was no further moderation needed this month.

[2018-05-29 18:36] alexej996 commented on #19
## 2018.5 update

Discourse forum has been updated twice this month. First time to the version **v2.0.0.beta9** on 4th of May and second time to **v2.0.0.beta10** on 20th. The last one seemed to change the admin dashboard quite a lot, but the old one is still accessible with the link provided on the same page.
Backups were downloaded at least twice per week as described in the role specification.

[2018-05-29 19:24] r4el commented on #20
Thanks, Manfred and Christoph. I have signed up on Slack and sent a PM to both to inquire about your availability if you want to have a call.

[2018-05-30 14:40] cbeams commented on #35
## 2018.05 report

As mentioned in bisq-network/compensation#74, I did the following ambassador work this month:

 - Podcast with @ManfredKarrer, @jwweatherman and Anders Kargaard on "Equity Tokens, DAOs and the future of companies"
   - https://github.com/bisq-network/events/issues/26
 - Worked with PiedPiperCoin team to get $PPI listed and to promote / have fun with it in conjunction with the Bi

[2018-05-30 14:54] cbeams commented on #13
## 2018.05 report

I arbitrated 46 cases this month.

Major issues continue to be:

 - dropped "Payment Started" trade protocol messages (bisq-network/support#84)
 - dropped arbitration chat messages (bisq-network/support#85)

Another issue I haven't brought up before is the problem of traders sending arbitration messages _after_ I've closed their ticket. When this happens, I never see the additio

[2018-05-30 15:14] cbeams commented on #29
## 2018.05 report

The focus on building out https://docs.bisq.network continued this month.

 - @cbeams outlined, @m52go wrote and @cbeams edited the new [Getting Started with Bisq](https://docs.bisq.network/getting-started.html) and [Secure Your Wallet](https://docs.bisq.network/secure-wallet.html) guides, per bisq-network/bisq-docs#37, bisq-network/bisq-docs#45 and bisq-network/bisq-docs#58.
 -

[2018-05-30 15:17] cbeams commented on #14
## 2018.05 report

No change from last month's report, but I'll format it a little more rigorously, that others might do the same:

Hosting: Heroku
Cost: $7.00
Version: v0.7.1-SNAPSHOT (from commit bisq-network/bisq-pricenode@545887c)
Notes: none

/cc bisq-network/compensation#74

[2018-05-30 15:23] cbeams commented on #5
## 2018.05 report

There were no changes to bisq-pricenode this month, but I believe I am still the only operator who has upgraded to the latest, fully refactored version.

@bisq-network/pricenode-operators, please make it a priority to upgrade this coming month, and let me know (#pricenode in Slack) if you need help.

Also, @bisq-network/pricenode-operators, when you add your monthly report comme

[2018-05-30 15:26] cbeams commented on #12
## 2018.05 report

No major changes to the Bisq website this month. Focus is on building the docs site out (see https://github.com/bisq-network/roles/issues/35#issuecomment-393188426), which will make it possible to completely refresh and radically simplify the website when executing @pedromvpg's design proposal.

/cc bisq-network/compensation#74

[2018-05-30 15:48] ManfredKarrer commented on #1
## 2018.05 report
Again I tried to focus mostly on DAO development but was also busy with the 0.7.0 release.

[2018-05-30 15:52] ManfredKarrer commented on #8
## 2018.05 report
Updated BitcoinJ to fix a wrong value for dust limit and filter out the confusing alert warning caused by old bitcoin nodes. Followed a bit discussion on the Bitcoin mailing list where they are discussing to fade out support for BIP 37 (bloom filter).

[2018-05-30 15:54] ManfredKarrer commented on #6
## 2018.05 report
Nothing to report

[2018-05-30 15:54] ManfredKarrer commented on #7
## 2018.05 report
Nothing to report

[2018-05-30 15:55] ManfredKarrer commented on #14
## 2018.05 report
Running 2 instances. Still running the old version of the price node.
No issues occurred that month.
PS: I know I should update to the new version. Will put it on my TODO list...

[2018-05-30 15:56] cbeams commented on #31
## 2018.05 report

@cbeams conducted the May 5th–7th voting at https://github.com/bisq-network/compensation/issues/58.

@cbeams started work to produce a `Compensation` doc at
https://github.com/bisq-network/bisq-docs/pull/62.

/cc bisq-network/compensation#74

[2018-05-30 15:56] ManfredKarrer commented on #9
## 2018.05
Nothing to report

[2018-05-30 15:57] ManfredKarrer commented on #15
## 2018.05 report
Running 6 Bitcoin and 2 LTC instances.

[2018-05-30 15:58] ManfredKarrer commented on #10
## 2018.05 report
A few minor issues with some nodes which got quickly recovered.

[2018-05-30 15:59] cbeams commented on #4
## 2018.05 report

@ManfredKarrer and @cbeams had useful conversations this month about the definition of the Bisq DAO, how it relates to—and is really separate from—BSQ. This naming and general distinction will likely find its way into the BSQ implementation, the in-progress efforts at docs.bisq.network, and ultimately into the way we think and talk about these items. More to come.

/cc bisq-netw

[2018-05-30 16:00] cbeams commented on #18
## 2018.05 report

Nothing to report.

/cc bisq-network/compensation#74

[2018-05-30 16:51] Emzy commented on #26
## 2018.05 report
Running the bisq-contrib mailing list server. Approving and rejecting mails.

bisq-network/compensation#76

[2018-05-30 16:52] Emzy commented on #14
## 2018.05 report
Running 1 instance.
No issues occurred that month.

bisq-network/compensation#76

[2018-05-30 16:52] Emzy commented on #15
## 2018.05 report
Running 1 Bitcoin instance.

bisq-network/compensation#76

[2018-05-30 17:36] sqrrm commented on #14
## May 2018 report
Paying for a bitcoinaverage sub used by manfred.

Compensation request at https://github.com/bisq-network/compensation/issues/77

[2018-05-31 08:44] ripcurlx commented on #20
## 2018.05 report
I took over this role as I want to streamline the workflow how we get required translations for new features and to initiate a review of a all existing translations. I applied for a free open source license for Transifex and will have a call today with @r4el on the requirements for this role and possible hand it over at the same time.

/cc https://github.com/bisq-network/compensa

[2018-06-01 11:26] cbeams commented on #16
## 2018.05 report

 - @alfsbs created the https://github.com/bisq-network/payment-methods repository, and has migrated existing issues from bisq-desktop.
 - @cbeams created the @bisq-network/design-contributors team
 - @cbeams created the @bisq-network/docs-contributors team
 - 2 members were added to the @bisq-network org and 2 members left
 - @cbeams has begun drafting a `GitHub` doc at https://

[2018-06-01 11:31] cbeams commented on #16
## 2018.05 report (cont)

I forgot to mention above that GitHub released a new, long-awaited feature this month, that allows users to see the revision history of issue descriptions and comments. As I wrote in [this tweet](https://twitter.com/bisq_network/status/1001795148559343616), this is important for the Bisq DAO, where certain kinds of issues, like those in https://github.com/bisq-network/pro

[2018-06-01 11:43] ManfredKarrer commented on #20
@ripcurlx
Thanks for taking over that role!
We have the free open source license, but somehow Transifex does not show that properly.
Maybe best it to get in touch with Ricardo who did it so far. I sent an email to connect you both.

[2018-06-01 11:48] ManfredKarrer commented on #13
@cbeams Regarding the messages after closed: We could add a feature to auto-re-open a ticket if you receive a message later, including the red icon so you see that there is something open. A different close feature would be the required as well (as current close makes the payout tx).

To not close a ticket as long you have not received from both traders the confirm msg would be another good featur

[2018-06-01 11:55] cbeams commented on #13
Thanks, @ManfredKarrer. I've copied that comment over to the dedicated issue at bisq-network/bisq-desktop#1561.

[2018-06-01 12:20] cbeams commented on #30
## 2018.05 report

As can be seen in the results of [this query](https://github.com/bisq-network/proposals/issues?utf8=%E2%9C%93&q=updated%3A2018-05-01..2018-06-01+sort%3Aupdated-desc+):

 - 6 proposals were closed as approved
 - 1 proposal was closed as stalled
 - 2 new proposals were created

I believe the proposals process is working quite well now, and it's reasonable to believe it'll only get

[2018-06-01 12:34] cbeams commented on #28
## 2018.05 report

Thanks everyone for continuing to write monthly report comments on your respective role issues. I think that's beginning to work quite well.

As mentioned in last month's report, role specs are being phased out in favor of a more integrated approach, where roles will be documented under the new docs.bisq.network website. In this new approach, rather than having a dedicated docum

[2018-06-01 12:43] cbeams commented on #23
## 2018.05 report

We're now at 602 members.

From https://bisq.slack.com/admin/stats:

![screencapture-bisq-slack-admin-stats-2018-06-01-14_42_23](https://user-images.githubusercontent.com/301810/40841256-218b70fc-65aa-11e8-9c6a-023344f25e98.png)

/cc bisq-network/compensation#74

[2018-06-01 12:54] cbeams commented on #21
## 2018.05 report

Accounts impersonating Bisq with ETH giveaway scams etc have become a complete pain in the ass now. I've offered a bounty to anyone who puts together software to automatically report them, but no takers yet.

Otherwise, everything is going well. Nothing particularly remarkable happened this month, but outside of the aforementioned scammers, Bitcoin Twitter is a lovely place to b

[2018-06-01 12:58] cbeams commented on #21
Note that we had almost identical numbers this month as compared to last for tweets sent (55), and impressions (1.29M) and profile visits (14.3K), but our number of mentions increased dramatically from 592 to 926. I would bet that almost the entire difference can be attributed to the above mentioned scammers, whose MO is always to reply to one of our legit tweets with one of their bogus tweets. Al

[2018-06-01 13:51] ripcurlx commented on #20
So far everything seems to be fine with the Transifex open source license. I applied for it within the app settings and nobody complained about it, that we are not fulfilling their requirements.
<img width="1283" alt="bildschirmfoto 2018-06-01 um 15 47 34" src="https://user-images.githubusercontent.com/170962/40844029-2188662e-65b3-11e8-9a1f-b41bbba7907c.png">
Yes, even if Ricardo wants to continu

[2018-06-01 14:15] cbeams commented on #1
## 2018.05 report

I missed posting my report here last month in part because I had a serious health issue come up and was short on time. I've since documented what's going on at https://chris.beams.io/posts/hello-aml/, and it's very likely that this issue will continue to affect my availability over the months to come.

This is actually a life-threatening problem, and while everything may turn ou

[2018-06-01 14:40] mrosseel commented on #14
## 2018.05 report

* 1 bitcoinaverage subscription
* 1 pricenode running

No issues occurred this month

TODO: upgrade to new version of pricenode, since I run on docker this probably implies updating the docker file.

bisq-network/compensation#80

[2018-06-01 14:43] mrosseel commented on #15
## 2018.05 report

Running 1 Bitcoin instance
hosting: Linode in docker container

bisq-network/compensation#80

[2018-06-01 14:50] mrosseel commented on #10
## 2018.05 report

No issues, no further work is planned except when pricenodes are switched to the new version this will be adapted.

This server is shared with the IRC syncing server

bisq-network/compensation#80

[2018-06-01 14:53] mrosseel commented on #22
## 2018.05 report

Nothing to report.

Hosting 1 syncing node on a shared server with monitoring node.

bisq-network/compensation#80

[2018-06-03 10:03] ManfredKarrer commented on #14
My nodes are now running with the new version of price-node.

[2018-06-03 10:49] ghost commented on #14
Are the price-nodes on the clearnet or on the onion side ?
(Btw, I have a VPS munin master node installed and running, I will give details on https://github.com/bisq-network/bisq-monitor nextly).

[2018-06-03 10:55] ManfredKarrer commented on #14
They are running as hidden service but some are accessible clearnet as well.

[2018-06-05 18:22] cbeams commented on #20
@ripcurlx, can we get @ManfredKarrer out of the picture completely for this role, even as secondary? Mainly, I mean such that he no longer has keys to Transifex and doesn't have to worry about it anymore. This could be done in conjunction with handing things over to @r4el if that works out, and you could remain as secondary then.

[2018-06-05 18:35] cbeams commented on #25
Great! Very glad to see the link to docs.bisq.network there.

@alexej996, could you look into setting up a reddit->Slack bridge? I have no idea what exists out there, just some research would be good. You can do this in the context of an issue in the https://github.com/bisq-network/slack repository if you like.

I ask about this, because I have no awareness of what's happening in r/Bisq, and I bet

[2018-06-06 13:11] alexej996 commented on #25
Sure. I never integrated bridges in Slack before, but as far as I can see there are too interesting applets that would:

1. Notify us of any new post on our subreddit (https://ifttt.com/applets/414120p-reddit-post-to-slack)
2. Notify us whenever Bisq is mentioned on reddit (https://ifttt.com/applets/296950p-get-an-alert-in-a-slack-channel-when-your-company-is-mentioned-on-reddit)

That is about al

[2018-06-18 09:24] cbeams commented on #31
Note: @ripcurlx has taken on the role of secondary owner for this role, and will conduct this month's compensation request voting. The assignees and description of this role issue have been updated accordingly.

[2018-06-29 09:18] mrosseel commented on #5
## 2018.06 report

* all operators have switched to the 0.7.1-SNAPSHOT release
* updated docker image to be compatible with the latest version
* fixed bug where the startup params were wrong for the docker file

All nodes are running the latest version with the same params, nothing further to report.

/cc bisq-network/compensation#83

[2018-06-29 09:20] mrosseel commented on #14
## 2018.06 report

* 1 bitcoinaverage subscription
* 1 pricenode running

Upgraded to new version 0.7.1-SNAPSHOT

bisq-network/compensation#83

[2018-06-29 09:37] mrosseel commented on #15
## 2018.06 report

Running 1 seednode instance
hosting: Linode in docker container

* fixed a docker bug where the linux had no language setup which crashed the container.
* Manfred found a restart bug, this was not noticed on my node because the docker container restarts automatically so it seems this is not relevant for my node.

bisq-network/compensation#83

[2018-06-29 11:21] alexej996 commented on #19
## 2018.6 update

Discoruse was updated twice this month as well. First time to version **2.1.0.beta1** on 1st of June and to **2.1.0.beta2** on 21st.\
Backups were downloaded at least twice per week as described in the role specification.

It appears that our VPS provider had some network issues on 22nd of June, which caused some server downtime for at least couple of minutes. The issue was resol

[2018-06-29 11:26] alexej996 commented on #25
## 2018.6 update

Per user request, I added BIsq's telegram channel this month to the sidebar of our subreddit.
Other than that, there is nothing more to report.

We have **681** subscribers on our subreddit currently, which is **22** more than last month.

[2018-06-29 12:23] mrosseel commented on #10
## 2018.06 report

* the new expected pricenode version (0.7.1-SNAPSHOT) was set in the monitoring, all pricenodes now run this version so no pricenode is in error at the moment.
This server is shared with the IRC syncing server

bisq-network/compensation#83

[2018-06-29 12:25] mrosseel commented on #22
## 2018.06 report

Had to restart the matterbridge syncing software because IRC to slack syncing had stopped.
An update to the latest version of matterbridge and restart fixed this. In the logs there were mentions of slack rate limit exceeded, not sure this was the problem though.

Hosting 1 syncing node on a shared server with monitoring node.

bisq-network/compensation#83

[2018-06-29 15:31] ripcurlx commented on #20
## 2018.6 report

Besides continuing onboarding of @r4el, who is currently working on a proposal for translators and reviewer metrics, we synced the translation file between the core repository and Transifex to have only on Transifex the truth. Translation files have been updated in the core repository as well for the new release 0.7.1.
We saw nice activity in June in translations and reviews. Unf

[2018-06-29 17:46] ripcurlx commented on #31
## 2018.6 report
@cbeams conducted the Jun 1st–4th voting at https://github.com/bisq-network/compensation/issues/70.

@ripcurlx took over managing the voting process starting with this month at https://github.com/bisq-network/compensation/issues/82.

/cc https://github.com/bisq-network/compensation/issues/84

[2018-06-29 17:47] ripcurlx commented on #18
## 2018.06 report
Nothing to report.

/cc https://github.com/bisq-network/compensation/issues/84

[2018-06-30 09:50] Emzy commented on #14
## 2018.06 report
- 1 bitcoinaverage subscription
- 1 pricenode running

Upgraded to new version 0.7.1-SNAPSHOT

bisq-network/compensation#88

[2018-06-30 09:53] Emzy commented on #15
## 2018.06 report
Running 1 Bitcoin instance

- Update to new Version

bisq-network/compensation#88

[2018-06-30 09:57] Emzy commented on #26
## 2018.06 report
Running the bisq-contrib and bisq-github mailing list server. Approving and rejecting mails.

bisq-network/compensation#88

[2018-06-30 15:15] ManfredKarrer commented on #15
## 2018.06 report

Running 6 seednode instance
Updated to new Version
bisq-network/compensation#92

[2018-06-30 15:16] ManfredKarrer commented on #15
@Emzy @mrosseel You mixed that role up with the bitcoin operator role...

[2018-06-30 15:17] ManfredKarrer commented on #14
## 2018.06 report

- 1 bitcoinaverage subscription (Business plan, USD 35/month)
- 2 pricenodes running

Upgraded to new version 0.7.1-SNAPSHOT

bisq-network/compensation#92

[2018-06-30 15:26] ManfredKarrer commented on #8
## 2018.06 report
Beside a small commit for a log level change nothing to report.

[2018-06-30 15:28] ManfredKarrer commented on #6
## 2018.06 report

The have been some code changes related to the startup code refactoring.

[2018-06-30 15:29] ManfredKarrer commented on #7
## 2018.06 report

The have been some code changes related to the startup code refactoring.

[2018-06-30 15:32] ManfredKarrer commented on #9
## 2018.06 report

Update to 0.7.0.

[2018-06-30 15:34] ManfredKarrer commented on #10
## 2018.06 report

Monitoring still takes quite of time and attention as notifications are missing.

[2018-06-30 15:45] ManfredKarrer commented on #35
## 2018.06 report

I took over the primary role ownership that month.

I was in contact with a Vietnamese Bisq user who sponsored the translation work (he paid from his pocket for that, and wants to add more Asian translations) and tried to invite him to a future growth call. He rejected for privacy reasons but gave me some contacts, which I forwarded to @flix1.

/cc bisq-network/compensation#92

[2018-06-30 15:49] ManfredKarrer commented on #30
## 2018.06 report

I took over primary ownership of that role that month.

- 7 proposals have been opened.
- 1 was closed

Unfortunately there is still not a lot of discussion and feedback on most of the proposals. We need to try to spread that better to the other channels and invite people to actively participate in the discussion.

/cc bisq-network/compensation#92

[2018-06-30 15:51] ManfredKarrer commented on #28
## 2018.06 report

I took over primary role ownership that month.

Nothing to report so far.

/cc bisq-network/compensation#92

[2018-06-30 15:59] cbeams commented on #35
## 2018.06 report

Nothing to report.

/cc bisq-network/compensation#89

[2018-06-30 16:06] cbeams commented on #13
## 2018.06 report

I performed arbitration for 52 disputes this month (second highest number since I started counting in December, and it was the big run-up in December that had 55 disputes). Many were failed trades due to timeouts / non-broadcast txns, some were due dropped trade protocol messages, many were due to run-of-the mill mistakes and protocol violations. I certainly ran into several dro

[2018-06-30 16:11] cbeams commented on #29
## 2018.06 report

A lot of work in progress this month, but little delivered.

### Delivered

@cbeams:
 - Expand docs index into a comprehensive table of contents (Part I: User Docs): https://github.com/bisq-network/bisq-docs/pull/60

### In progress

@cbeams:
 - [WIP] Produce 'Glossary' doc: https://github.com/bisq-network/bisq-docs/pull/76
 - [WIP] Produce 'Roles' doc: https://github.com/bisq-n

[2018-06-30 16:16] cbeams commented on #14
## 2018.06 report

No incidents this month, everything running smoothly.

Hosting: Heroku
Cost: $7.00
Version: v0.7.1-SNAPSHOT (from commit bisq-network/bisq-pricenode@545887c)

/cc bisq-network/compensation#89

[2018-06-30 16:18] cbeams commented on #12
## 2018.06 report

Nothing to report.

/cc bisq-network/compensation#89

[2018-06-30 16:20] cbeams commented on #4
## 2018.06 report

Nothing to report.

/cc bisq-network/compensation#89

[2018-06-30 16:22] cbeams commented on #18
## 2018.06 report

Thanks @ripcurlx for taking on the role here. Need to actually grant you access rights to our DNS at Namecheap and CloudFlare though :)

/cc bisq-network/compensation#89

[2018-06-30 16:27] ManfredKarrer commented on #1
## 2018.06 report

We tried to redistribute some roles from Chris to reduce his workload as well as to push the process of decentralization of the organizational elements of Bisq. Unfortunately not too many new contributors have taken over some of those roles so those contributors who have already too many roles got now even more.

Beside that I tried to actively find developers and it looks promi

[2018-06-30 16:29] cbeams commented on #1
## 2018.06 report

I'm continuing to deal with my health issue, and this month most of the work I did was around docs as planned. Other contributors have stepped up during the month to take on some of my roles (thank you all very much), and many of these still require actual handoffs to occur, e.g. granting access rights and so on. This is all a good opportunity to write things down and formalize

[2018-06-30 16:31] cbeams commented on #22
@mrosseel or @emzy, could one of you de-op me (cbeams) in the `#bisq` and `#bitsquare` channels? Once I have confirmation that I no longer have any special rights there, I'll remove myself as a secondary from this role. Thanks.

[2018-06-30 16:45] cbeams commented on #30
## 2018.06 report

Thanks, @ManfredKarrer and @ripcurlx for agreeing to temporarily take on this role, but on review, I don't think it makes sense to hand it off. Proposals are a vital part of how we do things, and I'm happy to continue caring for the process there until someone shows up who is really eager to take it over.

I think it's much better, @ManfredKarrer, for you in particular to spend

[2018-06-30 16:52] cbeams commented on #28
## 2018.06 report

Refining the documentation and process around roles has been a major focus for me over the last week, primarily because of the efforts to hand off some of my roles to other contributors. That effort has shined a pretty bright light on the gaps, and so I'm at work now on (a) making it much clearer how things should work and (b) making it possible for things to work without requir

[2018-06-30 17:07] cbeams commented on #23
## 2018.06 report

We're now at 616 members. Interesting to note in the stats below that our "Weekly active users posting messages" has been hovering at around 30 for as long as we've been capturing these reports. So while the number of people joining the workspace grows, the number of people actively using it has pretty much stayed the same.

![screencapture-bisq-slack-admin-stats-2018-06-30-19_0

[2018-06-30 17:15] cbeams commented on #21
## 2018.06 report

I tweeted a little less frequently this month, but generally things are looking healthy anyway. 840 new followers is a pretty nice stat, especially considering the reduced activity.

From https://analytics.twitter.com/user/bisq_network/home:

![image](https://user-images.githubusercontent.com/301810/42127473-ae06670c-7c99-11e8-8451-50e518653e59.png)

/cc bisq-network/compensatio

[2018-07-01 06:27] cbeams commented on #5
@ManfredKarrer and @mrosseel, thanks again for stepping up to take this over, but continuing to play the pricenode maintainer role is very low-effort for me in practice, and if I do become incapacitated, somebody else can take it over at that time. I'm happy to continue for now, and have updated the description and assignees to reflect.

[2018-07-03 15:35] cbeams commented on #10
@mrosseel, I archived the https://github.com/bisq-network/monitoring repository last month, thinking that this implementation was no longer being used. I understand now that you're keeping your fork at https://github.com/mrosseel/bisq-monitoring up to date operating an instance of it.

@ManfredKarrer is also keeping his https://github.com/bisq-network/bisq-monitor repo and instance at http://seedm

[2018-07-03 16:04] cbeams commented on #35
@ManfredKarrer wrote:

Thanks, @ManfredKarrer and @meapistol for taking over primary and secondary ownership of this role from me. Here's the thing, though: I don't think this role needs owners at all.

The reason why this role doesn't need _owners_ is because there are no special _rights_ required to perform the _duties_ of an Ambassador.

From https://deploy-preview-46--bisq-docs.netlify.com/rol

[2018-07-04 00:40] ManfredKarrer commented on #10
Yes https://github.com/bisq-network/bisq-monitor  is used as my primary monitoring tool.

[2018-07-04 09:00] mrosseel commented on #10
The only reason I'm keeping my instance around is for the better pricenode monitoring (version, sat/b, startup params), the rest is covered by Manfred's monitoring.

[2018-07-06 12:29] cbeams commented on #8
Update: Acting as @bisq-github-admin-1, I've set up access rights to our Bitcoinj fork, as well as our libdohj and btcd-cli4j forks such that @bisq-network/core-maintainers have write access to the repositories. This was to cut down on creating additional GitHub teams where they're not really necessary, and to reflect the fact that in practice, it is the core maintainers (particularly @ManfredKarr

[2018-07-09 10:48] cbeams commented on #22
It appears I no longer have `op` status (or the ability to regain it via ChanServ) for either of our channels, so I have removed myself as a secondary from this role. I've also updated the description of the role and the members of the @bisq-network/irc-admins team to reflect.

[2018-07-09 11:10] cbeams commented on #25
I've updated the description of this issue, and removed the `help wanted` label as I think @alexej996 has this under control, and as I understand, you're fine to continue playing this role indefinitely, is that right @alexej996?

[2018-07-09 11:15] cbeams commented on #15
I've updated the description of this role issue and updated the @bisq-network/seednode-operators team to reflect current status.

[2018-07-09 12:43] alexej996 commented on #25
Yes, I can take care of it :)

[2018-07-26 16:22] ManfredKarrer commented on #10
## 2018.07 report

No issues occurred that month.

/cc bisq-network/compensation#93

[2018-07-26 16:23] ManfredKarrer commented on #15
## 2018.07 report

Running 6 seednode instance.

/cc bisq-network/compensation#93

[2018-07-26 16:24] ManfredKarrer commented on #9
## 2018.07 report

Nothing to report.

/cc bisq-network/compensation#93

[2018-07-26 16:24] ManfredKarrer commented on #14
## 2018.07 report

Nothing to report.

/cc bisq-network/compensation#93

[2018-07-26 16:24] ManfredKarrer commented on #7
## 2018.07 report

Nothing to report.

/cc bisq-network/compensation#93

[2018-07-26 16:24] ManfredKarrer commented on #6
## 2018.07 report

Nothing to report.

/cc bisq-network/compensation#93

[2018-07-26 16:25] ManfredKarrer commented on #8
## 2018.07 report

Nothing to report.

/cc bisq-network/compensation#93

[2018-07-26 16:31] ManfredKarrer commented on #1
## 2018.07 report

I have been at the "Building on Bitcoin" conference in Lisbon and tried there to find developers. Had some interesting conversations but nothing concrete. Finding more developers is still my main priority beside getting the BSQ/DAO completed. Rough plan is to launch on testnet with end of August if we can achieve that. Chi is helping with testing and code review. Most features a

[2018-07-28 16:48] ghost commented on #35
For information, concerning Reddit:
I gave an eye to reddit, and was happily surprised to see that Bisq is mentionned on average once/day on differents subreddits.
Sometimes for bad reasons, sometimes under the form of questions.
So since ~22th of july, I monitor the r/bisq subreddit + reddit itself, ie I survey the occurrence of « bisq » everywhere, and try to help/inform/advertize when possible.

[2018-07-30 10:59] ripcurlx commented on #20
## 2018.07
July was great month in terms of contribution for our transifex project.
<img width="1012" alt="bildschirmfoto 2018-07-30 um 12 55 55" src="https://user-images.githubusercontent.com/170962/43393660-30497838-93f8-11e8-89f3-0bbac2ca5bf4.png">
Besides new translators especially @initCCG pushed the translations for Thai, Vietnamese, Persian and Russian.
<img width="994" alt="bildschirmfoto

[2018-07-30 12:11] ripcurlx commented on #31
## 2018.07 report
@ripcurlx conducted the Jun 1st–3rd voting at https://github.com/bisq-network/compensation/issues/82.

/cc bisq-network/compensation#98

[2018-07-30 12:11] ripcurlx commented on #18
## 2018.07 report
Nothing to report.

/cc bisq-network/compensation#98

[2018-07-30 12:13] ripcurlx commented on #12
## 2018.07 report
Nothing to report.

/cc bisq-network/compensation#89

[2018-07-30 17:00] alexej996 commented on #19
## 2018.7 update

Discourse was updated to version **2.1.0.beta3** on 27th. Backups were downloaded at least twice per week.

Due to some users asking questions that were answered in FAQ, I added the link to the FAQ page in the forum's header. Now it can be seen left of the **Support** link on the top of the page, right after the **Twitter** link.

**57** signups this month, **19%** decrease.
**37

[2018-07-30 17:03] alexej996 commented on #25
## 2018.7 update

We have **707**, an increase by **26** new users from the last month.
As usual there is not much activity on the subreddit.

[2018-07-30 19:59] Emzy commented on #14
## 2018.07 report
Nothing to report.

/cc bisq-network/compensation#100

[2018-07-30 20:00] Emzy commented on #15
## 2018.07 report
Running 1 Bitcoin seednode instance

/cc bisq-network/compensation#100

[2018-07-30 20:03] Emzy commented on #26
## 2018.07 report
Running the bisq-contrib and bisq-github mailing list server.

- Approving and rejecting mails.
- Systemupdates.

/cc bisq-network/compensation#100

[2018-07-31 09:50] cbeams commented on #13
## 2018.07 report

I performed arbitration for 27 disputes this month. This is a steep drop off from recent months, which may be attributable to lower-than-usual overall Bisq trading volume in July, the new ACK messages that came out in v0.7.1  to help avoid dropped trade protocol messages, or a combination of both. Let's see how the trend continues to play out over the months to come.

/cc bisq-n

[2018-07-31 09:59] cbeams commented on #29
## 2018.07 report

 - @cbeams wrote the new [Roles](https://docs.bisq.network/roles.html) doc in https://github.com/bisq-network/bisq-docs/pull/46, @m52go reviewed it, and it's now published / delivered.
 - @cbeams enabled analytics on the docs site and then a few days later added a link from the https://bisq.network/downloads to https://docs.bisq.network/getting-started.html. This seems to have b

[2018-07-31 10:06] cbeams commented on #5
## 2018.07 report

Nothing to report.

**BSQ requested:** `25`

/cc bisq-network/compensation#101

[2018-07-31 10:11] cbeams commented on #14
## 2018.07 report

Nothing to report.

Hosting: Heroku
Cost: $7.00
Version: v0.7.1-SNAPSHOT (from commit bisq-network/bisq-pricenode@545887c)

**BSQ requested:** `7+25 = 32`

/cc bisq-network/compensation#101

[2018-07-31 10:41] cbeams commented on #12
## 2018.07 report

I've removed @ripcurlx and @ManfredKarrer as secondary role owners here as they don't have access to Netlify (our static site hosting platform) and therefore can't fully carry out the duties of the role. I can easily add them and show them the ropes, but haven't yet done so, and so am just updating the issue to be accurate in the meantime. We should have a secondary here for thi

[2018-07-31 10:44] ghost commented on #35
##  2018.07 Report

### Reddit
Reddit (as a whole, not just /r/bisq), and **exclusively the last week of July**.
Spending some time on the /r/bisq subreddit, I constated that :
- there are always a (variable) bunch of people reading, whatever the hour
- there are days, rows of days, where nothing is posted on the subreddit.

By coincidence I also felt on this worth viewing 5’ video : Why YouTube C

[2018-07-31 13:52] cbeams commented on #31
Note: I've updated the description of this issue for accuracy and removed @ManfredKarrer as a secondary owner.

[2018-07-31 13:58] cbeams commented on #4
## 2018.07 report

I'm closing this role for now, as it doesn't make much sense. It's really just about the bisq-network/dao repository at this point, which is a kind of aggregator for non-code / management repositories. It's more trouble than it's worth to keep the issue around and update it every month. If that changes, we can reopen this.

**BSQ requested:** `0`

/cc bisq-network/compensation#1

[2018-07-31 14:13] cbeams commented on #4
Note: I've also closed the few issues that were open in the bisq-network/dao repository and archived it.

[2018-07-31 14:18] cbeams commented on #18
## 2018.07 report

I've updated the description of this issue for accuracy and removed @ripcurlx as an owner as he doesn't actually have access to Namecheap / Cloudflare, and both are required to carry out the duties of the role. We definitely should get a secondary role owner who has this access as I'm currently a single point of failure, but better to keep things accurate in the meantime. @ripcu

[2018-07-31 14:28] cbeams commented on #16
## 2018.07 report

 - I realized well after the fact of last month's voting that I forgot to leave a 2018.06 report. Oops.
 - Serviced requests to invite several members to the @bisq-network org
 - Monitored the #github channel, kept up on GitHub news and features

**BSQ requested:** `50`

/cc bisq-network/compensation#101

[2018-07-31 14:35] cbeams commented on #28
## 2018.07 report

There was a lot delivered around roles this month, but I've already documented it and claimed compensation for it as individual contributions in my compensation request for this month (linked below). Here's a screenshot of what I wrote there:

![image](https://user-images.githubusercontent.com/301810/43466361-a6442db6-94df-11e8-8d4c-91d647b51b91.png)

**BSQ requested:** `25` (fo

[2018-07-31 14:38] cbeams commented on #23
## 2018.07 report

I have a hunch that no one cares about the Slack analytics screenshots that I post here every month, so I'm going to leave it out this month and see if anybody asks for it back.

Otherwise, nothing to report.

**BSQ requested:** `25`

/cc bisq-network/compensation#101

[2018-07-31 14:42] ripcurlx commented on #23
I am mainly interested in the information of new members added every month for the analytics report. But as this information is not visible in the free plan I deduct the couple of members that were added in the following month (e.g. August) to get the increase of July. Of course this works only as long as we don't add more than 6 new users until I gather the report.

[2018-07-31 15:21] ManfredKarrer commented on #12
I appreciate the screenshots even if I never respond, but it helps to get a guts feeling is there are some important changes in usage...

[2018-07-31 15:24] cbeams commented on #21
## 2018.07 report

Many fewer tweets than usual this month (just 15), and downstats ensued as a result. The reduced activity was largely health-related for me, but I did still keep up on Twitter, responding to people, etc. Just did less original tweeting of my own.

![image](https://user-images.githubusercontent.com/301810/43469295-21dab372-94e6-11e8-9f10-69f447370599.png)

**BSQ requested:** `150

[2018-07-31 16:23] cbeams commented on #30
## 2018.07 report

I have been behind in my [proposals maintainer duties](https://docs.bisq.network/proposals.html#duties) over the last couple months, and let a few proposals linger longer than they should have without being closed or otherwise pushed along.

I've caught up now, however, on open proposals, including closing serveral, and will endeavor to keep up with the normal two-week review cy

[2018-07-31 16:32] ManfredKarrer commented on #30
I think we should reconsider a bit the close policy. I would prefer to close only proposals which got negative feedback or no attention at all. Though even those might have valuable content which even if not implemented soon might be useful for further ideas. I fear if they are closed they are kind of forgotten and harder to re-discover. To have more open stalled proposals gives us also the sign t

[2018-07-31 17:08] cbeams commented on #1
## 2018.07 report

Health issues continue to dominate for me, and likely will for the months to come, but I've still been able to get a few things done, as can be seen in my compensation request linked below.

As Manfred mentions in his update above, our major limiting factor remains that we have so few dedicated developers. It's a hard problem. We're competing with well-funded companies and still

[2018-07-31 20:48] mrosseel commented on #14
## 2018.07 report

* 1 bitcoinaverage subscription
* 1 pricenode running

nothing to report

bisq-network/compensation#105

[2018-07-31 20:50] mrosseel commented on #15
## 2018.07 report

Running 1 seednode instance
hosting: Linode in docker container

After last month's docker fixes, no further issues were detected.
Nothing to report

bisq-network/compensation#105

[2018-07-31 20:53] mrosseel commented on #10
## 2018.07 report

Nothing to report

Note: this server is shared with the IRC syncing server

bisq-network/compensation#105

[2018-07-31 20:54] mrosseel commented on #22
## 2018.07 report

Nothing to report

Hosting 1 syncing node on a shared server with monitoring node.

bisq-network/compensation#105

[2018-08-09 15:20] ghost commented on #19
@alexej996 , would it be possible to add also a link to the subreddit r/bisq in the top of the page ?
Thanks

[2018-08-09 19:59] alexej996 commented on #19
@HarryMacfinned We could, but I am not sure if that would be cluttering the forums header.
There are many candidates for adding to the top of the page (as you can see there are many links I added to the subreddit's sidebar), but there is very little space on the header.

FAQ was the only one I added myself and that is because forum's main purpose is for support so it made sense.

[2018-08-10 04:02] ghost commented on #19
I was thinking to put a reddit link in the top bar because there is already a twitter link. But if you think it may be disturbing, we may let it how it is.
Where are the many links you added to the subreddit's sidebar ?

[2018-08-10 09:22] alexej996 commented on #19
I know, but Twitter is really popular compared to our subreddit. I guess a lot of people follow it and get their info on Bisq from it, besides it was already there once I became a forum operator so I wasn't going to remove it.

Wow, I guess I never check out the new reddit style in detail, seems like they removed the sidebar by default. You can go to the old.reddit.com to have reddit as it was bef

[2018-08-11 11:58] cbeams commented on #12
@ManfredKarrer, per your request at
https://github.com/bisq-network/bisq-website/pull/76#issuecomment-411534127, I’ve added you as a member of @bisq-network/website-maintainers (so you can merge PRs), and  I’ve invited you to become an owner of the Netlify site configuration for the website, so you can care for any operational needs. I believe you’re new to Netlify, but it’s pretty straightforward

[2018-08-11 14:35] ManfredKarrer commented on #12
Thanks @cbeams!

[2018-08-28 13:15] alexej996 commented on #25
## 2018.8 update

We have **749** readers as of today, which is **42** new users this month.
A considerable increase from the last months 26 new users.
This accounts to **6%** increase in new subscribers this month.

There has been an increase in our subreddit activity of which it would be important to mention @HarryMacfinned's daily offer book and F2F offers statistics, as well as other announcem

[2018-08-28 14:15] alexej996 commented on #19
## 2018.8 update

Discourse was updated twice this month on 8th and 22nd to latest current version of **v2.1.0.beta5**.
Backups were downloaded twice a week.

There was recent sudden increase in users with Pakistani IP addresses that posted off-topic posts copied from bitcointalk forum. These users are now deleted and their IPs blocked, but I am still not sure of the motive. There are more new use

[2018-08-30 16:47] ripcurlx commented on #20
## 2018.08
Moderation of the #transifex channel on Slack. We saw less activity in August compared to July, but that is mainly because of @initCCG is nearly done with translating and reviewing the new languages.
<img width="1012" alt="bildschirmfoto 2018-08-30 um 18 41 48" src="https://user-images.githubusercontent.com/170962/44866076-7a297d00-ac84-11e8-9e7a-3fee6fe0f82f.png">
@ripcurlx, @HarryMacf

[2018-08-30 16:49] ripcurlx commented on #31
## 2018.08 report
@ripcurlx conducted the Jul 1st–3rd voting at https://github.com/bisq-network/compensation/issues/94.

/cc bisq-network/compensation#109

[2018-08-30 16:50] ripcurlx commented on #18
## 2018.08 report
Nothing to report.

/cc bisq-network/compensation#109

[2018-08-30 18:22] Emzy commented on #14
## 2018.08 report
Nothing to report.

/cc bisq-network/compensation#111

[2018-08-30 18:23] Emzy commented on #15
## 018.08 report
Running 1 Bitcoin seednode instance
hosting: Hetzner VM on my dedicated server

/cc bisq-network/compensation#111

[2018-08-30 18:27] Emzy commented on #26
## 2018.08 report
Running the bisq-contrib and bisq-github mailing list server.

- Approving and rejecting mails.
- Systemupdates.

/cc bisq-network/compensation#111

[2018-08-30 21:44] ManfredKarrer commented on #8
## 2018.08 report

We reverted a code change done in January to improve the broadcast reliability. As it turned out that change had the opposite effect for unknown reasons.
The default BitcoinJ policy was to broadcast to half of the connected nodes and wait to hear back from the half of those. As 12 nodes was default connection target, it was broadcast to 6 nodes and waited to hear back from 3. As

[2018-08-30 21:45] ManfredKarrer commented on #6
## 2018.08 report

Nothing to report.

/cc bisq-network/compensation#112

[2018-08-30 21:46] ManfredKarrer commented on #7
## 2018.08 report

Nothing to report.

/cc bisq-network/compensation#112

[2018-08-30 21:46] ManfredKarrer commented on #14
## 2018.08 report

Nothing to report.

/cc bisq-network/compensation#112

[2018-08-30 21:46] ManfredKarrer commented on #9
## 2018.08 report

Nothing to report.

/cc bisq-network/compensation#112

[2018-08-30 21:47] ManfredKarrer commented on #15
## 2018.08 report

Running 6 seednode instance.

/cc bisq-network/compensation#112

[2018-08-30 21:47] ManfredKarrer commented on #10
## 2018.08 report

Nothing to report.

/cc bisq-network/compensation#112

[2018-08-30 21:55] ManfredKarrer commented on #1
## 2018.08 report

That month was quite busy on several fronts:
- DAO dev work, review, discussions
- 0.8.0 release
- Mobile notifications app
- Help out with Http API

Beside that a bit of strategic planning for the next releases (0.9.0 - rebranding, DAO testnet, maybe API) and trying to get communications around the DAO organized. We need to start early enough to explain a rather complex topic t

[2018-08-31 07:55] ghost commented on #35
## 2018.08 Report (Reddit)

I started the reddit animation on july 22th (see previous report)

Our own r/bisq subreddit is not very active, but this is slightly changing.
As of today, r/bisq has 749 subscribers (+42/july).
(See also Alexej's report : https://github.com/bisq-network/roles/issues/25#issuecomment-416579800)
To give a comparison, r/localbitcoins has 2.100 subscribers.
Exchanges subred

[2018-08-31 12:19] cbeams commented on #13
## 2018.08 report

I delegated my arbitration duties to @ManfredKarrer this month, and so have nothing to personally report. I may take this duty back over shortly.

/cc bisq-network/compensation#114

[2018-08-31 12:26] cbeams commented on #29
## 2018.08 report

Several small updates were made to docs by @m52go in preparation for the v0.8.0 release, and @ManfredKarrer was added as a secondary maintainer so that he could merge PRs when I'm unable to.

This month's [analytics](https://analytics.google.com/analytics/web/#/report/content-overview/a104074395w179718712p177963850/_u.date00=20180801&_u.date01=20180831/):

![image](https://user-

[2018-08-31 14:08] cbeams commented on #5
## 2018.08 report

Nothing to report.

**BSQ requested:** `25`

/cc bisq-network/compensation#114

[2018-08-31 14:12] cbeams commented on #14
## 2018.08 report

Nothing to report.

Hosting: Heroku
Cost: $7.00
Version: v0.7.1-SNAPSHOT (from commit bisq-network/bisq-pricenode@545887c)

**BSQ requested:** `7+25 = 32`

/cc bisq-network/compensation#114

[2018-08-31 14:17] cbeams commented on #12
## 2018.08 report

Nothing to report.

![image](https://user-images.githubusercontent.com/301810/44917640-393f7000-ad39-11e8-9499-9f03a3d32ab8.png)

**BSQ requested:** `25`

/cc bisq-network/compensation#114

[2018-08-31 14:19] cbeams commented on #18
@ripcurlx, there's no need to report here monthly, as (a) you were originally set up as a secondary owner and (b) because you don't actually have access to any of our DNS infrastructure (yet). Would be good to change that soon, though.

[2018-08-31 14:20] cbeams commented on #18
## 2018.08 report

Nothing to report.

**BSQ Requested: `25`**

/cc bisq-network/compensation#114

[2018-08-31 14:25] cbeams commented on #1
## 2018.08 report

My health situation took a turn for the worse early this month, leaving me partially (and hopefully only temporarily) paralyzed. As a result I've contributed very little to Bisq, and am focused primarily on my recovery, physical therapy, and other personal issues.

/cc bisq-network/compensation#114

[2018-08-31 14:26] cbeams commented on #16
## 2018.08 report

Nothing to report.

**BSQ Requested: `25`**

/cc bisq-network/compensation#114

[2018-08-31 14:29] cbeams commented on #30
## 2018.08 report

I have not been actively managing proposals this month. Per @ManfredKarrer's request above, we're letting proposals stay open longer, and we can see how this goes over the next months.

**BSQ Requested: `25`**

/cc bisq-network/compensation#114

[2018-08-31 14:31] cbeams commented on #28
## 2018.08 report

Nothing to report.

**BSQ Requested: `25`**

/cc bisq-network/compensation#114

[2018-08-31 14:45] cbeams commented on #21
## 2018.08 report

Due to health issues I did the bare minimum around Twitter this month, monitoring our account, tweeting and retweeting release announcements and weekly growth calls, etc. Only nine tweets in total, and predictable downstats as a result.

![image](https://user-images.githubusercontent.com/301810/44919049-ccc67000-ad3c-11e8-9ce1-658c7922968f.png)

**BSQ Requested: `300`**

/cc bis

[2018-08-31 14:51] cbeams commented on #23
## 2018.08 report

Nothing to report.

![screencapture-bisq-slack-admin-stats-2018-08-31-16_33_27](https://user-images.githubusercontent.com/301810/44918602-aeac4000-ad3b-11e8-9cb6-af6b67c15621.png)

**BSQ Requested: `25`**

/cc bisq-network/compensation#114

[2018-08-31 19:45] mrosseel commented on #14
## 2018.08 report

* 1 bitcoinaverage subscription
* 1 pricenode running

nothing to report

bisq-network/compensation#116

[2018-08-31 19:47] mrosseel commented on #15
## 2018.08 report

Running 1 seednode instance
hosting: Linode in docker container

Nothing to report

bisq-network/compensation#116

[2018-08-31 19:51] mrosseel commented on #10
## 2018.08 report

Nothing to report, apart from one failing btc node which is no longer used.
Planning to sync the list with the latest release next month.

Note: this server is shared with the IRC syncing server

bisq-network/compensation#116

[2018-08-31 19:52] mrosseel commented on #22
## 2018.08 report

There was some spam in the #bisq irc channel. Freenode seems to have taken measures to stop this so no action was necessary from my side.

Hosting 1 syncing node on a shared server with monitoring node.

bisq-network/compensation#116

[2018-09-20 19:41] arunasurya commented on #35
I would like to take on the ambassador role but I prefer to spread the word more in the physical world rather than online. I would be happy to set up and lead local Bisq meetup events, recruit contributors and allies in person in different countries (e.g., by presenting at tech universities, etc), give interviews (once I have a more solid understanding of Bisq and Bisq DAO), present in conferences

[2018-09-21 04:35] ManfredKarrer commented on #35
@arunasurya Great to hear that! We can definitely need more help in all those areas!!!

[2018-09-27 00:40] ManfredKarrer commented on #8
## 2018.09 report

Fixed an issue with duplicated peers in case of disconnections and re-connections.

/cc bisq-network/compensation#125

[2018-09-27 00:41] ManfredKarrer commented on #6
## 2018.09 report

Nothing to report.

/cc bisq-network/compensation#125

[2018-09-27 00:41] ManfredKarrer commented on #7
## 2018.09 report

Nothing to report.

/cc bisq-network/compensation#125

[2018-09-27 00:41] ManfredKarrer commented on #14
## 2018.09 report

Nothing to report.

/cc bisq-network/compensation#125

[2018-09-27 00:41] ManfredKarrer commented on #9
## 2018.09 report

Nothing to report.

/cc bisq-network/compensation#125

[2018-09-27 00:41] ManfredKarrer commented on #9
## 2018.09 report

Nothing to report.

/cc bisq-network/compensation#125

[2018-09-27 00:41] ManfredKarrer commented on #15
## 2018.09 report

Running 6 seednode instance.

/cc bisq-network/compensation#125

[2018-09-27 00:42] ManfredKarrer commented on #10
## 2018.09 report

Nothing to report.

/cc bisq-network/compensation#125

[2018-09-27 01:33] ManfredKarrer commented on #1
## 2018.09 report

I was traveling and took a bit of holiday break that month. Beside dev work I had 2 interviews (Cuen Leigh for Coindesk and Max Hillebrand for WCN (https://www.youtube.com/watch?v=j2_Oe7mlLDk).
I am preparing the testnet version of the DAO so that we can hopefully ship it with 0.9.0 mid/end of October.

/cc bisq-network/compensation#125

[2018-09-27 09:38] ripcurlx commented on #20
## 2018.09 report
Moderation of the #transifex channel on Slack. We saw less activity in September compared to August. Translations updates/reviews were done in Thai, Vietnamese, Russian and Spanish.

![bildschirmfoto 2018-09-27 um 11 33 29](https://user-images.githubusercontent.com/170962/46137186-681e0880-c249-11e8-8c7c-5fdf7d9a1a25.png)

We'll see three new languages added in v0.9.0 (Thai, Pers

[2018-09-27 09:40] ripcurlx commented on #31
## 2018.09 report
@ripcurlx conducted the September 1st–3rd voting at https://github.com/bisq-network/compensation/issues/107.

/cc bisq-network/compensation#126

[2018-09-27 17:22] ghost commented on #10
## 2018.09 Report - Fees (and connectivity) monitoring

Reminder : Python croned task monitoring the Bisq network onion nodes for the fees. On a 5 minutes basis.
The fee page is a small json page and, additionnaly to monitoring the fees, provides also simultaneously a convenient/simple(r) mean to monitor the **connectivity** of/to the nodes.

All requests have a 10 seconds timeout, ie if the onion

[2018-09-28 13:57] ghost commented on #10
## 2018.09 Report - Prices monitoring

Reminder :
Python croned task monitoring the Bisq network onion nodes for the prices. On a 5 minutes basis.
All requests have a 10 seconds timeout, ie if the onion node doesn't answer in 10 seconds, the request is abandoned. Generally nodes answer in less than 1 second.

Prices are not archived.

The monitoring is at the moment realized by writing alerts in f

[2018-09-28 15:17] ghost commented on #35
# 2018-09 Report - Reddit

**This report concerns only the 1st half of september**

There was a copious discussion this month (beginning on sept 13th) about this role on reddit : https://github.com/bisq-network/compensation/issues/115
[Many/all arguments (and fresh numbers) pros and cons for being on reddit can be find there.]
This discussion itself followed a discord vote concerning my compensati

[2018-09-29 11:31] alexej996 commented on #25
## 2018.9 update

Currently we have **803** subscribers to r/bisq which is an even bigger increase of **54** this month, which is a **7%** increase, compared to last months 6% growth of 42 new subscribers.

[2018-09-29 12:09] alexej996 commented on #19
## 2018.9 update

Discourse was updated 3 times since the last report. On 31st of August and 11th and 15th of September to a latest version **2.2.0.beta2**.
Backups were downloaded twice a week as usual.

Spam and scam issues from last month persisted to this day, however they are significantly easier to deal with now that we have some better ways of dealing with it. No new treats, just the old oc

[2018-09-29 14:49] Emzy commented on #14
## 2018.09 report
Update to new version

/cc bisq-network/compensation#136

[2018-09-29 14:50] Emzy commented on #15
## 018.09 report
Running 1 Bitcoin seednode instance
hosting: Hetzner VM on my dedicated server

/cc bisq-network/compensation#136

[2018-09-29 14:51] Emzy commented on #26
## 2018.09 report
Running the bisq-contrib and bisq-github mailing list server.

- Approving and rejecting mails.
- Systemupdates.

/cc bisq-network/compensation#136

[2018-09-30 14:10] cbeams commented on #13
## 2018.09 report

I resumed my arbitration duties this month, and performed arbitration for 23 disputes. This number is lower than it would have been, as Manfred was still registered for a number of cases that started the month prior but only went to arbitration after the 1st of the month.

Noteworthy issues:

 - I had 3 or 4 cases where dropped arbitration messages caused significant problems, s

[2018-09-30 14:38] cbeams commented on #29
## 2018.09 report

Several smaller changes were made to docs over the month, the most significant of which was @joachimneumann's addition of architectural details to the bisq-mobile doc in https://github.com/bisq-network/bisq-docs/pull/85.

This month's [analytics](https://analytics.google.com/analytics/web/?pli=1#/report/content-overview/a104074395w179718712p177963850/_u.date00=20180901&_u.date01

[2018-09-30 14:48] cbeams commented on #12
## 2018.09 report

No major changes to the website this month.

This month's [analytics](https://analytics.google.com/analytics/web/?pli=1#/report/content-overview/a104074395w155385470p157064482/_u.date00=20180901&_u.date01=20180930&_u.date10=20180802&_u.date11=20180831/) follow, this time comparing this month to the previous to make it easier to assess changes.

![image](https://user-images.githu

[2018-09-30 14:49] cbeams commented on #18
## 2018.09 report

Nothing to report.

**BSQ Requested: `25`**

/cc bisq-network/compensation#139

[2018-09-30 14:59] cbeams commented on #1
## 2018.09 report

I continued to focus on my health issues this month. The paralysis mentioned in last month's report is slowly improving with physical therapy, and I'm now in a more dedicated rehabilitation facility where I can focus fully on the recovery process. I'm no longer bedridden and spend most of my time each day in a wheelchair.

I'm keeping up with my arbitration and Twitter duties an

[2018-09-30 15:02] cbeams commented on #16
## 2018.09 report

Nothing to report.

**BSQ Requested: `25`**

/cc bisq-network/compensation#139

[2018-09-30 15:07] cbeams commented on #30
## 2018.09 report

Discussion continued this month around bisq-network/proposals#35 and bisq-network/proposals#38. On the former, we decided not to enforce a listing fee, and on the latter we decided to allow compensation requests for work merged to master, not just work that has shipped in a release.

**BSQ Requested: `25`**

/cc bisq-network/compensation#139

[2018-09-30 15:09] cbeams commented on #28
## 2018.09 report

Nothing to report.

**BSQ Requested: `25`**

/cc bisq-network/compensation#139

[2018-09-30 15:16] cbeams commented on #23
## 2018.09 report

Nothing to report.

![screencapture-bisq-slack-admin-stats-2018-09-30-17_14_00](https://user-images.githubusercontent.com/301810/46259077-6b78f480-c4d4-11e8-8728-d6a61e50a2bd.png)

**BSQ Requested: `25`**

/cc bisq-network/compensation#139

[2018-09-30 15:19] cbeams commented on #14
## 2018.09 report

The pricenode repository has been consolidated into the main bisq-network/bisq repository, but no code has changed, so I have not updated my instance yet.

Hosting: Heroku
Cost: $7.00
Version: v0.7.1-SNAPSHOT (from commit bisq-network/bisq-pricenode@545887c)

**BSQ requested:** `7+25 = 32`

/cc bisq-network/compensation#139

[2018-09-30 15:22] cbeams commented on #5
## 2018.09 report

The pricenode repository was consolidated into the main bisq-network/bisq repository this month, but given that no code has changed, I haven't put out a request for other @bisq-network/pricenode-operators to update yet. We should do this on the next release boundary just for consistency / clarity, though, even if nothing substantive has changed in the meantime.

**BSQ Requested:

[2018-09-30 15:35] cbeams commented on #21
## 2018.09 report

This month's performance was than the last couple, due to my being able to spend more time with Twitter. With that said, I was only operating at perhaps 2/3rds my usual engagement, e.g. number of tweets, responses, etc.

In the conversation at https://github.com/bisq-network/compensation/issues/115#issuecomment-422035138, @ManfredKarrer suggested that we go with a 3000K / mo bud

[2018-09-30 18:21] mrosseel commented on #14
## 2018.09 report

* 1 bitcoinaverage subscription
* 1 pricenode running

nothing to report.
Anticipating docker file rework for the next release, due to the move to the mono repo

bisq-network/compensation#141

[2018-09-30 18:22] mrosseel commented on #15
## 2018.09 report

Running 1 seednode instance
hosting: Linode in docker container

Nothing to report

bisq-network/compensation#141

[2018-09-30 18:26] mrosseel commented on #10
## 2018.09 report

Nothing to report, updating nodes still todo, not sure how to do it without manual work and without risk to main repo. (refactor hard-coded config into property files probably most straightforward thing to do).

Note: this server is shared with the IRC syncing server

bisq-network/compensation#141

[2018-09-30 18:32] mrosseel commented on #22
## 2018.09 report

Nothing to report.
Since I don't spend a lot of time on IRC some new blood is needed in the IRC department, either as helping hand or full replacement.

Hosting 1 syncing node on a shared server with monitoring node.

bisq-network/compensation#141

[2018-10-07 17:27] ghost commented on #10
## 2018.10 01-07 report (week 40)

This short report just to follow and give some narrower news about the monitoring of the Bisq network.

The number for this week (week 40) :
- exceptions on fees and prices onion pages : ~14% of the time one onion concerned.
- gaps between fees onion pages : ~inexistent (less than 1.5% of cases, small, and only punctual).
- gaps between prices onion pages : ~inex

[2018-10-07 22:30] ManfredKarrer commented on #10
Thanks. Yes it seems Tor carries those connections issues and it seems tor is less stable the last weeks.

[2018-10-15 16:37] ghost commented on #10
## 2018.10 08-14 report (week 41)

Numbers for this week (week 41) :
- exceptions on fees and prices onion pages : 228 occurences = ~11.9%
- gaps between fees onion pages : ~inexistent
- gaps between prices onion pages : ~inexistent
- fees values : min = 10 (87.8% of the time), max = 20 (6 occurences)

88% of exceptions are connection timeouts.

<pre>
exceptions daily (1st column is connection tim

[2018-10-23 09:05] ghost commented on #10
## 2018.10 15-21 report (week 42)

- exceptions on fees and prices onion pages : 200 occurences = ~9.9%
- gaps between fees onion pages : ~inexistent
- gaps between prices onion pages : ~inexistent
- fees values : min = 10 (83.3% of the time), max = 30 (5 occurences)

88% of exceptions (~ same % as last week) are connection timeouts.

<pre>
exceptions daily (1st column is connection timeouts) :
Da

[2018-10-29 17:57] ghost commented on #10
## 2018.10 22-28 report (week 43)

- gaps between fees onion pages : ~non-existent
- gaps between prices onion pages : ~non-existent
- fees values : min = 10 (91.2% of the time), max = 14 (29 occurences)

Exceptions :

Dates | cto | rto | herr | undef | sum
------|-----|-----|------|-------|-----
22 | 10 | 0 | 0 | 5 | **15**
23 | 32 | 0 | 0 | 0 | **32**
24 | 20 | 1 | 0 | 2 | **23**
25 | 6 | 3 | 0

[2018-10-30 10:06] ripcurlx commented on #20
## 2018.10 report
Moderation of the #transifex channel on Slack. We saw less activity again in October compared to September. Translations updates/reviews were done in Greek, Persian, Vietnamese, Russian and Portuguese.

![Transifex Report](https://user-images.githubusercontent.com/170962/47710751-d5033480-dc33-11e8-9f0d-ad8b5e1a69cb.png)

We'll see two new languages added in v0.9.0 (Thai, Vietnam

[2018-10-30 10:08] ripcurlx commented on #31
## 2018.10 report
Conducted the October 1st–3rd voting at https://github.com/bisq-network/compensation/issues/121.

/cc bisq-network/compensation#148

[2018-10-30 15:22] alexej996 commented on #25
## 2018.10 update
Today we have **838** readers on r/bisq, making an increase of **35** new readers this months.
This is constitutes a growth of around 4%, slightly smaller then last month's.

Although not as much new subscribers, I would say that amount of activity perhaps increased, as new users have been asking questions on our subreddit.

[2018-10-30 15:55] alexej996 commented on #19
## 2018.10 update
Discourse only needed one upgrade this month to the version **2.2.0.beta3** on 13th of October.
Backups were downloaded as usual.

Scam attempts still exist, under different names of course. They never reached the public this month, due to counter measures. Otherwise, forum is doing just fine, and domain name has been renewed for the next year.

Statistics provided by Discourse s

[2018-10-30 17:36] ghost commented on #10
## 2018.10 Report - Prices monitoring
(For the general framework of the prices monitoring, see the previous report(s)).

### Timeouts
Same as for the fees (since prices are given from the same onions) -> see the report on fees.

### Divergence between nodes
There were no noticeable divergences between pricenodes this (quiet) month.

(There was a (small) bug in the software, producing some false po

[2018-10-31 04:23] ManfredKarrer commented on #8
## 2018.10 report

Nothing to report.

/cc bisq-network/compensation#155

[2018-10-31 04:23] ManfredKarrer commented on #6
## 2018.10 report

Nothing to report.

/cc bisq-network/compensation#155

[2018-10-31 04:23] ManfredKarrer commented on #7
## 2018.10 report

Nothing to report.

/cc bisq-network/compensation#155

[2018-10-31 04:23] ManfredKarrer commented on #14
## 2018.10 report

Running 2 instances

/cc bisq-network/compensation#155

[2018-10-31 04:23] ManfredKarrer commented on #9
## 2018.10 report

Nothing to report.

/cc bisq-network/compensation#155

[2018-10-31 04:23] ManfredKarrer commented on #9
## 2018.10 report

Nothing to report.

/cc bisq-network/compensation#155

[2018-10-31 04:24] ManfredKarrer commented on #15
## 2018.10 report

Running 6 seednode instance.

/cc bisq-network/compensation#155

[2018-10-31 04:32] ManfredKarrer commented on #23
## 2018.10 report

There have been a case of a scammer who impersonated my slack account and tried to trick people into stupid scam. The users contacted me and sent me the conversation. He also mentioned cbeams in that conversation.
I was quite shocked to disover that Slack has zero protection against such impersonation scams. One can simple set the user name and deplay name to my name, add profil

[2018-10-31 04:32] ManfredKarrer commented on #12
## 2018.10 report

Nothing to report.

/cc bisq-network/compensation#155

[2018-10-31 04:34] ManfredKarrer commented on #10
## 2018.10 report

The monitor app more often is shut down. It is probably due a glitch in the restart code.

/cc bisq-network/compensation#155

[2018-10-31 04:41] ManfredKarrer commented on #1
## 2018.10 report

Was a busy month. Main focus was to get the DAO ready for testnet release as well as to handle the overall management for the relase. Also lots of communication work with growth calls, interviews and communication with developers and contributors.

More dedicated efforts to find new developers and there are few good devs in our pipeline but some still have not fully commited.

A

[2018-10-31 11:18] mrosseel commented on #14
## 2018.10 report

* 1 bitcoinaverage subscription
* 1 pricenode running

nothing to report.
Anticipating docker file rework for the next release, due to the move to the mono repo

bisq-network/compensation#157

[2018-10-31 11:20] mrosseel commented on #15
## 2018.10 report

Running 1 seednode instance
hosting: Linode in docker container

Nothing to report

bisq-network/compensation#157

[2018-10-31 11:23] mrosseel commented on #10
## 2018.10 report

Nothing to report, updating nodes still todo, not sure how to do it without manual work and without risk to main repo. (refactor hard-coded config into property files probably most straightforward thing to do).

Note: this server is shared with the IRC syncing server

bisq-network/compensation#157

[2018-10-31 11:24] mrosseel commented on #22
## 2018.10 report

Nothing to report.
Since I don't spend a lot of time on IRC some new blood is needed in the IRC department, either as helping hand or full replacement.

Hosting 1 syncing node on a shared server with monitoring node.

bisq-network/compensation#157

[2018-10-31 17:16] cbeams commented on #13
## 2018.10 report

I arbitrated 68 disputes this month, and as @ManfredKarrer reported at https://github.com/bisq-network/proposals/issues/52#issuecomment-433663600, quite a few are due to bugs / networking issues. The most common ones this month are dropped trade protocol messages between buyer and seller, where the seller doesn't know the buyer has initiated payment because the 'Payment Started'

[2018-10-31 17:26] cbeams commented on #29
## 2018.10 report

No major changes to the docs site this month.

It's interesting to see [this month's analytics](https://analytics.google.com/analytics/web/?pli=1#/report/content-overview/a104074395w179718712p177963850/_u.date00=20181001&_u.date01=20181031&_u.date10=20180831&_u.date11=20180930/) numbers decrease, given all the extra trading we saw. I guess our Monero users don't need documentati

[2018-10-31 18:20] cbeams commented on #5
## 2018.10 report

Nothing to report.

BSQ Requested: `25`

/cc bisq-network/compensation#160

[2018-10-31 18:21] cbeams commented on #14
## 2018.10 report

Nothing to report

Hosting: Heroku
Cost: $7.00
Version: v0.7.1-SNAPSHOT (from commit bisq-network/bisq-pricenode@545887c)

**BSQ requested:** `7+25 = 32`

/cc bisq-network/compensation#160

[2018-10-31 18:25] cbeams commented on #12
## 2018.10 report

No major changes to the website this month.

[Analytics](https://analytics.google.com/analytics/web/?pli=1#/report/content-overview/a104074395w155385470p157064482/_u.date00=20181001&_u.date01=20181031&_u.date10=20180831&_u.date11=20180930/) follow. And like with the docs site, it's interesting to see that stats are down this month, given all the extra trading activity we had.

!

[2018-10-31 18:27] cbeams commented on #18
## 2018.10 report

We had a minor mix-up this month in which bitsquare.io DNS was switched back from being managed at Cloudflare to being managed at Namecheap, and the site was down for a while until control was restored to Cloudflare.

In the process, I granted @ManfredKarrer access to Cloudflare, so that I'm not the only one who can handle these issues in the future.

BSQ Requested: `25`

/cc bi

[2018-10-31 18:31] cbeams commented on #16
## 2018.10 report

Nothing to report.

BSQ Requested: `25`

/cc bisq-network/compensation#160

[2018-10-31 18:35] cbeams commented on #30
## 2018.10 report

I've made @ManfredKarrer a secondary owner of this role, as he's been caring for proposals more than I lately, and indicated (a while ago) that he's fine with doing so.

I won't itemize the proposals added / updated this month here, but there are a good number of them. It seems that the approach we've taken to proposals works rather well so far.

BSQ Requested: `25`

/cc bisq-ne

[2018-10-31 20:33] cbeams commented on #28
## 2018.10 report

Nothing to report.

BSQ Requested: `25`

/cc bisq-network/compensation#160

[2018-10-31 20:52] Emzy commented on #14
## 2018.11 report

- 1 bitcoinaverage subscription
- 1 pricenode running

/cc bisq-network/compensation#163

[2018-10-31 20:52] Emzy commented on #15
## 018.10 report
Running 1 Bitcoin seednode instance
hosting: Hetzner VM on my dedicated server

/cc bisq-network/compensation#163

[2018-10-31 20:55] Emzy commented on #26
## 2018.10 report
Running the bisq-contrib and bisq-github mailing list server.

- Approving and rejecting mails.
- Systemupdates.

/cc bisq-network/compensation#163

[2018-10-31 20:59] cbeams commented on #23
## 2018.10 report

@ManfredKarrer wrote:

I've just created a WIP proposal for this at https://github.com/bisq-network/proposals/issues/54.

Here are this month's analytics, from https://bisq.slack.com/admin/stats:

![screencapture-bisq-slack-admin-stats-2018-10-31-21_58_39](https://user-images.githubusercontent.com/301810/47818370-31f80b00-dd58-11e8-98f2-5f374c40aeba.png)

BSQ Requested: `25`

/c

[2018-10-31 21:17] cbeams commented on #21
## 2018.10 report

![image](https://user-images.githubusercontent.com/301810/47819363-8ef4c080-dd5a-11e8-9fb6-2f4037e4291c.png)

BSQ Requested: `1800`

/cc bisq-network/compensation#160

[2018-10-31 22:09] cbeams commented on #1
## 2018.10 report

I'm thrilled to see all the progress happening around Bisq: the client and website redesign, the forthcoming DAO launch, the growing body of contributors, and of course this month's explosion in trading volume.

I can scarcely keep up with all that's going on, actually. My main focus remains on my health issues, and what time I do have to dedicate to Bisq is occupied mainly by a

[2018-11-05 10:43] ghost commented on #10
## 2018.11 29-04 report (week 44)

- gaps between fees onion pages : ~non-existent
- gaps between prices onion pages : ~non-existent
- fees values : min = 10 (87.8% of the time), max = 16 (5 occurences)

Exceptions :

Dates | cto | rto | herr | undef | sum
------|-----|-----|------|-------|-----
29 |  15 | 0 | 0 | 7 |  **22**
30 |  25 | 0 | 0 | 1 |  **26**
31 |  15 | 1 | 0 | 8 |  **24**
01 |  10 |

[2018-11-12 18:07] ghost commented on #10
## 2018.11 05-11 report (week 45)

- gaps between fees onion pages : ~non-existent
- gaps between prices onion pages : ~non-existent
- fees values : min = 10 (66.1% of the time), mean = 11.07, max = 28 (5 occurences).
Fees were slightly higher this week.

Exceptions :

Dates | cto | rto | herr | undef | sum
------|-----|-----|------|-------|-----
 5 |  17 | 2 | 0 | 2 | **21**
 6 |  23 | 0 | 0 | 6

[2018-11-19 17:05] ghost commented on #10
### 2018.11 12-18 report (week 46)

- gaps between fees onion pages : ~non-existent (apart gaps due to not all pricenodes having the same <code>maxdelay</code> during the fees spikes)
- gaps between prices onion pages : ~non-existent
- fees values : min = 10 (51.5% of the time), mean = 16.25, max = 50 (21 occurences).
Fees were higher this week (probably an indirect consequence of BCH's fork)

Exc

[2018-11-27 08:20] ghost commented on #10
### 2018.11 19-25 report (week 47)

- gaps between fees onion pages : ~non-existent, apart from pricenodes tunning moments.
- gaps between prices onion pages : ~non-existent
- fees values : min = 10 (6.6% of the time), mean = 44.95, max = 76 (3 occurences).
Fees were significantly higher this week (in continuation of last week's growth).
Mean fees are 4 times higher than just 2 weeks ago (44 s/b a

[2018-11-27 14:52] cbeams commented on #23
I've made @m52go a Slack admin, at least for the time being, so as to facilitate data migration to the new Rocket.Chat instance.

[2018-11-29 08:34] ghost commented on #10
### 2018.11 Report - Prices monitoring
(For the general framework of the prices monitoring, see the previous report(s)).

**Timeouts**:
* There were no timeout due to any pricenode this month
* The timeout numbers were in the usual statistics this month (reasonable). All timeouts correspond to network issues.
* Prices are given from the same onions as fees -> see the weekly reports (above) on fees

[2018-11-29 22:22] Emzy commented on #14
## 2018.11 report

- 1 bitcoinaverage subscription
- 1 pricenode running

/cc bisq-network/compensation#175

[2018-11-29 22:25] Emzy commented on #15
## 2018.11 report
Running 1 Bitcoin seednode instance
hosting: Hetzner VM on my dedicated server

/cc bisq-network/compensation#175

[2018-11-29 22:26] Emzy commented on #26
## 2018.11 report
Running the bisq-contrib and bisq-github mailing list server.

- Approving and rejecting mails.
- Systemupdates.

/cc bisq-network/compensation#175

[2018-11-29 22:40] alexej996 commented on #25
## 2018.11 report

This month we gained **42** new readers and currently we hold at **880** readers.
A standard increase of around **5%** this month, which is consistent with our past subreddit's growth.

/cc https://github.com/bisq-network/compensation/issues/176

[2018-11-29 23:49] alexej996 commented on #19
## 2018.11 report

Discourse only needed one upgrade this month as well, to the version 2.2.0.beta4 on 6th of November.
Backups were downloaded regularly as usual, twice a week.

This month I added the onion hidden service to support tor use for the forum.
Onion address **dnkeu7zlmu7vlyox.onion** was added on 12nd November and Bisq users where notified on the forum about it for two weeks. There is

[2018-11-30 10:52] ripcurlx commented on #20
## 2018.11 report
Moderation of the #transifex channel on Slack. We saw more activity in November compared to October as we switched the source of the translation source file to the new release branch file before merging it to master. This time my work on the German translations will also be part of this compensation request.

<img width="1017" alt="Transifex Report" src="https://user-images.githu

[2018-11-30 12:54] ripcurlx commented on #31
## 2018.11 report
Conducted the November 1st–3rd voting at https://github.com/bisq-network/compensation/issues/149.

/cc bisq-network/compensation#177

[2018-11-30 19:37] cbeams commented on #13
## 2018.11 report

I arbitrated 91 disputes this month. Common causes were similar to those reported last month, including:

 - Buyer's 'Payment Started' message not being received by seller
 - Bitcoin transaction broadcast failures

Manfred believes he may have solved one of the causes of messages being dropped. We'll see how that fix plays out with the release of 0.9.0.

/cc bisq-network/compens

[2018-11-30 20:13] cbeams commented on #29
## 2018.11 report

@m52go submitted several PRs this month, and is generally planning to contribute further in the near future.

There was a slight decrease across most pages this month as compared to last:

![screencapture-analytics-google-analytics-web-2018-11-30-21_07_54](https://user-images.githubusercontent.com/301810/49312327-1f522c80-f4e4-11e8-98af-f90ffac1efe3.png)

BSQ requested: `25`

/c

[2018-11-30 20:20] cbeams commented on #5
## 2018.11 report

Nothing to report.

BSQ requested: `25`

/cc bisq-network/compensation#179

[2018-11-30 20:23] cbeams commented on #5
## 2018.11 report (cont)

Actually, I'm closing this role now, given that the pricenode code has been merged back into the main bisq-network/bisq repository. I have listed myself in the CODEOWNERS file there as being responsible for the pricenode module, and it is therefore probably no longer worth doing a monthly update here. We'll keep the pricenode operator role at #14 intact, though, as the in

[2018-11-30 20:38] cbeams commented on #14
## 2018.11 report

We shifted around the `maxBlocks` parameter a couple times this month to adjust to mining fee spikes on the Bitcoin network. Otherwise, nothing to report.

Hosting: Heroku
Cost: $7.00
Version: v0.7.1-SNAPSHOT (from commit bisq-network/bisq-pricenode@545887c)

**BSQ requested:** `7+25 = 32`

/cc bisq-network/compensation#179

[2018-11-30 20:44] cbeams commented on #12
## 2018.11 report

No major changes to the website this month. [Analytics](https://analytics.google.com/analytics/web/?pli=1#/report/content-overview/a104074395w155385470p157064482/_u.date00=20181001&_u.date01=20181031&_u.date10=20180831&_u.date11=20180930/) follow:

![screencapture-analytics-google-analytics-web-2018-11-30-21_43_17](https://user-images.githubusercontent.com/301810/49313936-1f0860

[2018-11-30 20:46] cbeams commented on #18
## 2018.11 report

Nothing to report.

BSQ requested: `25`

/cc bisq-network/compensation#179

[2018-11-30 20:48] cbeams commented on #16
## 2018.11 report

Installed and authorized TestQuality GitHub integration at @devinbileck's request.

BSQ requested: `25`

/cc bisq-network/compensation#179

[2018-11-30 20:51] cbeams commented on #30
## 2018.11 report

I took no action around maintaining proposals this month, @ManfredKarrer did everything. Manfred, it probably makes sense for you to take the primary role here, since you've actually been performing that duty in practice for the last months are you good with that?

BSQ Requested: `0`

[2018-11-30 20:58] cbeams commented on #28
## 2018.11 report

Several new roles were created this month:

 - Rocket.Chat Admin #79, to capture the work @m52go is taking on to manage this potential new Slack alternative (and we may want a separate role for Rocket.Chat Operator, which ~@sqrrm~ @chirhonul is taking on)
 - Arch Linux AUR maintainer #78, capturing the work @freimair has already been doing for some time
 - Domain name owner #77,

[2018-11-30 20:59] sqrrm commented on #28
Correction, @chirhonul is hosting the rocket.chat.

[2018-11-30 21:01] ManfredKarrer commented on #23
## 2018.11 report

Helping to get the migration to Rocket.chat organized.

/cc bisq-network/compensation#180

[2018-11-30 21:02] cbeams commented on #23
## 2018.11 report

@chirhonul and @m52go stepped up this month to start building out a Rocket.Chat alternative to Slack. A role for Rocket.Chat Admin has been created at #79. To follow what's going on there, see  bisq-network/proposals#54. In the meantime, here are our Slack [stats](https://bisq.slack.com/admin/stats) for this month:

![screencapture-bisq-slack-admin-stats-2018-11-30-21_59_31](htt

[2018-11-30 21:03] ManfredKarrer commented on #10
## 2018.11 report

Coordinating with @chirhonul and @freimair for getting a professional monitoring system.

/cc bisq-network/compensation#180

[2018-11-30 21:04] ManfredKarrer commented on #15
## 2018.11 report

Running 6 seednode instance. Just started 2 new ones for testnet (DAO).

/cc bisq-network/compensation#180

[2018-11-30 21:04] ManfredKarrer commented on #9
## 2018.11 report

Nothing to report.

/cc bisq-network/compensation#180

[2018-11-30 21:05] ManfredKarrer commented on #14
## 2018.11 report

Running 2 instances.
There have been a few issues with fee estimation being too low. Coordinated updates of the fee services with the other operators.

/cc bisq-network/compensation#180

[2018-11-30 21:05] ManfredKarrer commented on #7
## 2018.11 report

Nothing to report.

/cc bisq-network/compensation#180

[2018-11-30 21:05] ManfredKarrer commented on #6
## 2018.11 report

Nothing to report.

/cc bisq-network/compensation#180

[2018-11-30 21:05] ManfredKarrer commented on #8
## 2018.11 report

Nothing to report.

/cc bisq-network/compensation#180

[2018-11-30 21:07] ManfredKarrer commented on #1
## 2018.11 report

Being very busy with getting the 0.9 release ready. Being in touch with several developers and coordinate work with them.

/cc bisq-network/compensation#180

[2018-11-30 21:20] cbeams commented on #21
## 2018.11 report

Manfred and I agreed that I would lay off tweeting this month. We've been seeing massive volume increases over the last months, and until the DAO is launched, it's probably wise to keep a somewhat lower profile for the project. This doesn't mean we won't be tweeting at all anymore, but will rather focus on highlighting our educational efforts (cc @m52go) as opposed to tweeting e

[2018-11-30 21:33] cbeams commented on #1
## 2018.11 report

I'm home from the hospital now for the first time in four months, and am focusing on spending time with my family. I'm keeping up on arbitration duties and made some time this month to submit PRs that improve Bisq's command line user experience, as well as reviewed a number of build system and docs-related PRs. I'll be back to the hospital for a bone marrow transplant in late De

[2018-11-30 22:00] mrosseel commented on #14
## 2018.11 report

* 1 bitcoinaverage subscription
* 1 pricenode running

nothing to report.

bisq-network/compensation#181

[2018-11-30 22:01] mrosseel commented on #15
## 2018.11 report

Running 1 seednode instance
hosting: Linode in docker container

Nothing to report

bisq-network/compensation#181

[2018-11-30 22:03] mrosseel commented on #10
## 2018.11 report

Moved to new IP address due to hosting 'upgrade' failing, had to rebuild server.

Note: this server is shared with the IRC syncing server

bisq-network/compensation#181

[2018-11-30 22:05] mrosseel commented on #22
## 2018.11 report

Had some conversations with m52go regarding his rocket-chat syncing, to try using the same bridge as is used with IRC.

PS: Since I don't spend a lot of time on IRC some new blood is needed in the IRC department, either as helping hand or full replacement.

Hosting 1 syncing node on a shared server with monitoring node.

bisq-network/compensation#181

[2018-12-01 12:20] cbeams commented on #28
Sorry, of course that's right. Thanks. I've corrected the original post above.

[2018-12-04 19:13] ghost commented on #10
### 2018.11/12 26-02 report (week 48)

- gaps between fees onion pages : ~non-existent
- gaps between prices onion pages : ~non-existent
- fees values : min = 30 (45 occurrences), mean = 43.21, max = 62 (10 occurrences).
Fees continued to be high this week, but returned under 40s/b on sunday.
This continues to not stopping good numbers on Bisq.

Exceptions :

Dates | cto | rto | herr | undef | sum

[2018-12-06 12:38] cbeams commented on #1
UPDATE: I'll be taking a ~2 month hiatus from my work with Bisq, effective immediately. I'm scheduled to undergo a bone marrow transplant a little less than two weeks from now, and have many things to get in order beforehand. The transplant process itself will likely take at least 6 weeks, and I probably won't be fit to work during much of that time. I'm in the process of handing off most of my ro

[2018-12-06 12:39] cbeams commented on #12
Per https://github.com/bisq-network/roles/issues/1#issuecomment-444857417, I'll be away for the next ~2 months. Manfred will take care of PRs into the website in my absence, and he may also delegate that role to anyone he sees fit in the meantime.

[2018-12-06 12:42] cbeams commented on #13
Per https://github.com/bisq-network/roles/issues/1#issuecomment-444857417, I've handed off my arbitration duties to another contributor that will remain anonymous for now. I generally plan to pick this duty back up when I return.

[2018-12-06 12:44] cbeams commented on #29
Per https://github.com/bisq-network/roles/issues/1#issuecomment-444857417, I've handed off the primary docs maintainer role to @m52go. He'll merge incoming PRs, handle monthly updates, etc from here out.

[2018-12-06 12:48] cbeams commented on #14
Per https://github.com/bisq-network/roles/issues/1#issuecomment-444857417, I'll be away for the next ~2 months, but I will leave my pricenode up and running, and should be able to respond within 24-48 hours to any requests to upgrade, etc. I will not issue any monthly updates while I'm away.

[2018-12-06 12:51] cbeams commented on #18
Per https://github.com/bisq-network/roles/issues/1#issuecomment-444857417, I'll be away for the next ~2 months, but I will retain the primary DNS Admin role during that time. Changes here are infrequent, and Manfred and I agreed there's no immediate need to formally hand off the role. Manfred has access to Cloudflare, where our DNS is managed, and in the end, Manfred has control over NS records fo

[2018-12-06 12:53] cbeams commented on #16
Per https://github.com/bisq-network/roles/issues/1#issuecomment-444857417, I'll be away for the next ~2 months. I've made @ManfredKarrer the primary owner of this role in the meantime; please direct any GitHub administration requests to him.

[2018-12-06 12:55] cbeams commented on #30
Per https://github.com/bisq-network/roles/issues/1#issuecomment-444857417, I'll be away for the next ~2 months. I've made @ManfredKarrer the primary owner of this role, which makes sense anyway as he's been doing the actual work of maintaining the issues there over the last months.

[2018-12-06 13:00] cbeams commented on #21
Per https://github.com/bisq-network/roles/issues/1#issuecomment-444857417, I'll be away for the next ~2 months. @m52go will take over this role in my absence, and we're in the process of transitioning everything now.

[2018-12-06 14:03] ghost commented on #1
Best luck @cbeams .
Return in better health. (I'm confident).

[2018-12-07 13:40] cbeams commented on #23
@m52go has agreed to take on the role of Slack Admin. I already gave him admin access to Slack (see https://github.com/bisq-network/roles/issues/23#issuecomment-442086127), and I've now removed myself as an admin completely. Thanks Steve!

[2018-12-07 13:44] cbeams commented on #28
@m52go has agreed to take on this role going forward. Thanks, Steve!

[2018-12-11 08:55] ghost commented on #10
### 2018.12 03-09 report (week 49)

- gaps between fees onion pages : ~non-existent, apart from pricenodes tunning moments.
- gaps between prices onion pages : ~non-existent
- fees values : min = 16 (41 occurrences), mean = 29.03, max = 50 (27 occurrences).
Fees decreased this week. Returning in the 10/20 s/b zone.
Still numbers are good for Bisq : 402BTC/646 trades (3rd best week in BTC)

Excepti

[2018-12-17 14:46] ghost commented on #10
### 2018.12 10-16 report (week 50)

- gaps between fees onion pages : ~non-existent
- gaps between prices onion pages : ~non-existent
- fees values : min = 12 (121 occurrences), mean = 20.10, max = 60 (12 occurrences).
Fees decreased once more a bit this week.
Numbers are still rather good for Bisq : 349BTC/582 trades

Exceptions :

Dates | cto | rto | herr | undef | sum
------|-----|-----|------|

[2018-12-26 17:47] ghost commented on #10
### 2018.12 17-23 report (week 51)

- gaps between fees onion pages : ~non-existent
- gaps between prices onion pages : ~non-existent
- fees values : min = 10 (385 occurrences), mean = 21.41, max = 60 (29 occurrences).
Fees quite same as past week.
Bisq numbers for the week : 278BTC/500 trades

Exceptions :

Dates | cto | rto | herr | undef | sum
------|-----|-----|------|-------|-----
17 |  12 |

[2018-12-29 14:20] ManfredKarrer commented on #23
## 2018.11 report

Nothing to report.

/cc bisq-network/compensation#189

[2018-12-29 14:20] ManfredKarrer commented on #12
## 2018.11 report

Nothing to report.

/cc bisq-network/compensation#189

[2018-12-29 14:21] ManfredKarrer commented on #10
## 2018.11 report

Coordinating with @chirhonul and @freimair for getting a professional monitoring system.

/cc bisq-network/compensation#189

[2018-12-29 14:21] ManfredKarrer commented on #15
## 2018.11 report

Running 6 mainnet nodes and 2 testnet nodes (DAO).

/cc bisq-network/compensation#189

[2018-12-29 14:23] ManfredKarrer commented on #9
## 2018.11 report

Updated to version 0.9.1 (required jdk update).

/cc bisq-network/compensation#189

[2018-12-29 14:25] ManfredKarrer commented on #14
## 2018.11 report

Running 2 instances.

/cc bisq-network/compensation#189

[2018-12-29 14:25] ManfredKarrer commented on #7
## 2018.11 report

Updated to v 0.9.1 and jdk update.

/cc bisq-network/compensation#189

[2018-12-29 14:25] ManfredKarrer commented on #6
## 2018.11 report

Nothing to report.

/cc bisq-network/compensation#189

[2018-12-29 14:26] ManfredKarrer commented on #8
## 2018.11 report

Coordinate with @oscarguindzberg update to 0.14.7 and review of Bisq changes.

/cc bisq-network/compensation#189

[2018-12-29 14:29] ManfredKarrer commented on #1
## 2018.12 report

Main focus that month was to get DAO testnet version stable and push educational material for DAO as well as onboarding and coordinating with new developers.

/cc bisq-network/compensation#189

[2018-12-29 15:50] Emzy commented on #14
## 2018.12 report

Running 1 instance.

/cc [bisq-network/compensation#191](https://github.com/bisq-network/compensation/issues/191)

[2018-12-29 15:54] Emzy commented on #15
## 2018.12 report
Running 1 Bitcoin seednode instance
hosting: Hetzner VM on my dedicated server

/cc bisq-network/compensation#191

[2018-12-29 15:57] Emzy commented on #26
## 2018.12 report
Running the bisq-contrib and bisq-github mailing list server.

- Approving and rejecting mails.
- Systemupdates.

/cc bisq-network/compensation#191

[2018-12-30 11:35] ripcurlx commented on #20
## 2018.12 report
Moderation of the #transifex channel on Slack. We saw more than twice the activity in December compared to November as lots of new strings where translated for our latest releases. This time my work on the German and other translations (translation fixes) will also be part of this compensation request.

<img width="999" alt="bildschirmfoto 2018-12-30 um 12 35 27" src="https://use

[2018-12-30 11:37] ripcurlx commented on #31
## 2018.12 report
Conducted the December 1st–4th voting at https://github.com/bisq-network/compensation/issues/165.

/cc bisq-network/compensation#195

[2018-12-30 17:53] alexej996 commented on #25
## 2018.12 report
This month we gained **60** new readers and currently we hold at **940** readers.
An increase of around **7%** means our subreddit has grown more then usual this month.

This month we had a bit of a redesign done on our subreddit to match the redesign of the whole project.

/cc https://github.com/bisq-network/compensation/issues/196

[2018-12-30 18:24] alexej996 commented on #19
## 2018.12 report

Discourse was updated on 30th of November and on 16th of December to a final version **2.2.0.beta6**.
Backups were downloaded as usual.

We had a redesign of the website this month that brought fresh new green colors to the forum.
Big thanks to all who helped design this new look for Bisq!

We had some spam attempts from Ukrainian IPs on December 17th, but nothing big.
They were

[2018-12-31 07:57] ghost commented on #10
### 2018.12 24-30 report (week 52)

- gaps between fees onion pages : ~non-existent
- gaps between prices onion pages : ~non-existent
- fees values : min = 10 s/b (4987 occurrences), mean = 12.86 s/b, max = 46 s/b (25 occurrences).
Mean fees decreased ~ 10 s/b compared to past week, returning in the minimum 10 s/b zone.

Bisq numbers for the week : 391 BTC/574 trades

Exceptions :

Dates | cto | r

[2018-12-31 08:37] ghost commented on #10
### 2018.12 Report - Prices monitoring
This month pricenodes behaviour is copy/paste from previous month, so is the report.

**Timeouts**:
* There were no timeout due to any pricenode this month
* The timeout numbers were in the usual statistics this month (reasonable). All timeouts correspond to network issues.
* Prices are given from the same onions as fees -> see the weekly reports (above) on f

[2019-01-01 01:26] m52go commented on #21
## 2018.12 Report

Numbers were up this month, but the bar was low, given the low activity from last month.

[Recently](https://twitter.com/bisq_network/status/1077194971504091137) I found Twitter to be a great tool to interact with users and better understand their concerns about the DAO, and it's probably a great medium in its own right to talk about the DAO (through tweetstorms—cryptotwitter al

[2019-01-01 01:32] m52go commented on #28
## 2018.12 Report

Nothing to report.

/cc bisq-network/compensation#199

[2019-01-01 01:35] m52go commented on #29
## 2018.12 Report

MaxHillebrand submitted a PR, which I reviewed and we mutually agreed I'd take it over in January. Otherwise it was a quiet month for docs.

/cc bisq-network/compensation#199

[2019-01-01 01:39] m52go commented on #23
## 2018.12 Report

Migration to Rocket stagnated because of 1) the lack of an outgoing email server and 2) failure to get the Matterbridge server configured.

Outgoing email server has been provisioned as a part of the educational DAO initiative. I will continue working with mrosseel to get Matterbridge sorted out this month.

[Slack stats](https://bisq.slack.com/admin/stats) for the past month:

[2019-01-08 09:31] ghost commented on #10
### 2019.01 01-06 report (week 01)

- gaps between fees onion pages : ~non-existent
- gaps between prices onion pages : ~non-existent
- fees values : min = 10 s/b (7363 occurrences), mean = 11.9 s/b, max = 60 s/b (12 occurrences).
Mean fee continue to decrease a bit, installed in the minimum 10 s/b zone.
Bisq numbers for the week : 267 BTC/468 trades

Exceptions :

Dates | cto | rto | herr | undef

[2019-01-12 13:49] ManfredKarrer commented on #15
We had a severe incident yesterday with all seed nodes.

Reason was that I updated the --maxMemory program argument from 512 to 1024 MB. My servers have 4 GB RAM and run 2 nodes each, so I thought that should be ok. But was not. It caused out of memory errors and nodes became stuck (required kill -9 to stop them).

I increased the maxMemory setting because I saw that they restarted every 2-3 hours

[2019-01-12 17:50] ghost commented on #15
I reread the issue https://github.com/bisq-network/bisq/issues/599 ,
where a user reported also abnormal memory consumption under Ubuntu,
and where I myself reported low memory consumption under Debian Stretch.
@Emzy says he uses Debian Stretch with his seednode (and never reported a memory issue afaik)

So I wonder if this memory leakage issue could not be specific to Ubuntu ?
(and could maybe si

[2019-01-15 10:00] ghost commented on #10
### 2019.01 07-13 report (week 02)

- gaps between fees onion pages : ~non-existent
- gaps between prices onion pages : ~non-existent
- fees values : min = 10 s/b (4421 occurrences), mean = 15.54 s/b, max = 60 s/b (53 occurrences).
Mean fee recreases a bit. (There are high spikes from time to time)
Bisq numbers for the week : 294 BTC/631 trades (stable)

Exceptions :

Dates | cto | rto | herr | un

[2019-01-21 11:51] ManfredKarrer commented on #9
Issue with out of memory errors. Not clear why it happend as server reported sufficient free memory. I increased setting of maxMemory of app from 300 to 500 MB and updated code to 0.9.3. There was also a weird class not found error. With newly compiled 0.9.3 app was working again.

[2019-01-22 08:09] ghost commented on #10
### 2019.01 14-20 report (week 03)

- gaps between fees onion pages : ~non-existent
- gaps between prices onion pages : ~non-existent
- fees values : min = 10 s/b (3750 occurrences), mean = 15.29 s/b, max = 60 s/b (50 occurrences).
Mean fee stable. (3 spikes at 60 s/b lasting < 30 minutes)
Bisq numbers for the week : 214 BTC/555 trades (27% decrease in BTC)

Exceptions :

Dates | cto | rto | herr

[2019-01-28 17:59] ManfredKarrer commented on #1
## 2019.01 report

Main focus that month was to get DAO testnet version stable (issues with seed nodes and explorers) and onboarding and coordinating with new developers.

/cc bisq-network/compensation#205

[2019-01-28 17:59] ManfredKarrer commented on #8
## 2019.01 report

Nothing to report.

/cc bisq-network/compensation#205

[2019-01-28 17:59] ManfredKarrer commented on #7
## 2019.01 report

Nothing to report.

/cc bisq-network/compensation#205

[2019-01-28 17:59] ManfredKarrer commented on #6
## 2019.01 report

Nothing to report.

/cc bisq-network/compensation#205

[2019-01-28 18:00] ManfredKarrer commented on #12
## 2019.01 report

Nothing to report.

/cc bisq-network/compensation#205

[2019-01-28 18:02] ManfredKarrer commented on #16
## 2019.01 report

@ripcurlx added a plugin (stale) for auto-closing old GH issues to reduce the number of un-maintained and outdated issues.

/cc bisq-network/compensation#205

[2019-01-28 18:07] ManfredKarrer commented on #10
## 2019.01 report

Have been a serious issue with all seed nodes (out of memory) which is fixed now. Luckily it could recover quickly and we have not seen a significat increase of follow up issues (missed messages leading to arbitration cases).
Created also a monitor for the dao seed and explorer nodes (http://104.248.88.175/) to get basic monitoring for dao data and number of blocks.

/cc bisq-ne

[2019-01-28 18:11] ManfredKarrer commented on #15
## 2019.01 report

We had issues with heap memory (see above) but it is resolved now and we added more vm arguments and increased the prog argument for maxMemory.

`java -XX:+UseG1GC -Xms512m -Xmx4000m -jar /root/bisq/seednode/build/libs/seednode-all.jar --maxConnections=30 --maxMemory=3000 ...`

The -XX:+UseG1GC argument tells the jvm to use another garbage collector which behaves better accordin

[2019-01-28 18:20] ManfredKarrer commented on #9
## 2019.01 report

See comment above.

/cc bisq-network/compensation#205

[2019-01-28 18:20] ghost commented on #10
### 2019.01 21-27 report (week 04)

- gaps between fees onion pages : ~non-existent
- gaps between prices onion pages : ~non-existent
- fees values : min = 10 s/b (2315 occurrences), mean = 13.67 s/b, max = 36 s/b (8 occurrences).
Mean fee decreased a bit. No spikes as last week.
Bisq numbers for the week : 162 BTC/536 trades (-25% BTC, -4% trades)

Exceptions :

Dates | cto | rto | herr | undef |

[2019-01-28 18:24] ManfredKarrer commented on #14
## 2019.01 report

Running 2 instances.

/cc bisq-network/compensation#205

[2019-01-30 11:12] ripcurlx commented on #20
## 2019.01 report
Moderation of the #transifex channel on Slack.
I added @arunasurya as Team Manager to be able to work on the Glossary and communicate with other translation managers, translators and reviewers.
We saw less activity in January compared to December as we didn't add lots of new strings or languages to the client. My work on the German translation is also part of this compensation re

[2019-01-30 11:13] ripcurlx commented on #31
## 2019.01 report
Conducted the January 1st–4th voting at https://github.com/bisq-network/compensation/issues/183.

/cc bisq-network/compensation#206

[2019-01-30 20:23] Emzy commented on #14
## 2019.01 report

Running 1 instance.

/cc [bisq-network/compensation#191](https://github.com/bisq-network/compensation/issues/212)

[2019-01-30 20:24] Emzy commented on #15
## 2019.01 report
Running 1 Bitcoin seednode instance
hosting: Hetzner VM on my dedicated server

/cc bisq-network/compensation#212

[2019-01-30 20:26] Emzy commented on #26
## 2019.01 report
Running the bisq-contrib and bisq-github mailing list server.

- Approving and rejecting mails.
- Systemupdates.

/cc bisq-network/compensation#212

[2019-01-31 14:08] alexej996 commented on #25
## 2019.1 report
This month out subreddit grew a lot and passed a 1000 subscriber mark.

This month we gained **111** new readers and currently we hold at **1051** readers.
An increase of around **12%** is twice as much as usual, which is a record since I've been keeping track.

/cc https://github.com/bisq-network/compensation/issues/216

[2019-01-31 14:24] alexej996 commented on #19
## 2019.1 report

Discourse was updated 4 times this month and is currently at latest version **2.2.0.beta10**.
Backups were downloaded as usual.

We had some directory traversal attempts this month which made me ban the IP.
Otherwise nothing out of the ordinary.

Statistics:
**63** new signups, **24%** increase.
**64** new topics, **31%** increase.
**353** new posts, **15%** increase.
DAU/MAU is

[2019-01-31 17:16] ghost commented on #10
### 2019.01 Report - Prices monitoring
This month pricenodes behaviour is copy/paste from previous month, so is the report.

**Timeouts**:
* There were no timeout due to any pricenode this month
* The timeout numbers were in the usual statistics this month (reasonable). All timeouts correspond to network issues.
* Prices are given from the same onions as fees -> see the weekly reports (above) on f

[2019-02-01 07:09] m52go commented on #21
## 2019.01 Report

Pretty good month for Twitter. We had 1 especially good tweet early in the month that might have been the most successful tweet yet (by engagement). I also know it led to at least [one article in Cointelegraph](https://cointelegraph.com/news/controversial-content-creators-shift-to-crypto-after-censorship).

Also picked up almost 600 new followers.

![screencapture-analytics-twit

[2019-02-01 07:09] m52go commented on #23
## 2019.01 Report

[Slack stats](https://bisq.slack.com/admin/stats) for the past month are in the image below. We passed 900 members this month.

![screencapture-bisq-slack-admin-stats-2019-02-01-00_13_05](https://user-images.githubusercontent.com/735155/52103955-341b7100-25b6-11e9-91b9-7661124e3afa.png)

/cc https://github.com/bisq-network/compensation/issues/219

[2019-02-01 07:09] m52go commented on #28
## 2019.01 Report

Nothing to report.

/cc https://github.com/bisq-network/compensation/issues/219

[2019-02-01 07:09] m52go commented on #29
## 2019.01 Report
Significant additions included 2 DAO docs and a doc on the data directory (backup and recovery).

@alexej996 and @HarryMacfinned you might find that last one helpful for support: https://docs.bisq.network/backup-recovery.html

Metrics were pretty good, mainly because of what looks like a GRIN spike:

![2b75a385dc374252e84d90fa1a7fa3f1-0](https://user-images.githubusercontent.com/

[2019-02-13 08:20] ghost commented on #10
### 2019.01-02 28-3 report (week 05)

- gaps between fees onion pages : ~non-existent
- gaps between prices onion pages : ~non-existent
- fees values : min = 10 s/b (560 occurrences), mean = 15.95 s/b, max = 60 s/b (15 occurrences).
Mean fee increased a bit. 3 spikes at 60 sat/b.
Bisq numbers for the week : 83 BTC/362 trades (-49% BTC, -33% trades)

Exceptions :

Dates | cto | rto | herr | undef |

[2019-02-13 08:43] ghost commented on #10
### 2019.02 4-10 report (week 06)

- gaps between fees onion pages : ~non-existent
- gaps between prices onion pages : ~non-existent
- fees values : min = 10 s/b (3861 occurrences), mean = 12.18 s/b, max = 46 s/b (7 occurrences).
Mean fee decreased a bit.
Bisq numbers for the week : 142 BTC/407 trades (+71% BTC, +12% trades)

Exceptions :

Dates | cto | rto | herr | undef | sum
------|-----|-----|

[2019-02-18 09:23] ghost commented on #10
### 2019.02 11-17 report (week 07)

- gaps between fees onion pages : ~non-existent
- gaps between prices onion pages : ~non-existent
- fees values : min = 10 s/b (710 occurrences), mean = 22.05 s/b, max = 60 s/b (24 occurrences).
Mean fee increased.
Bisq numbers for the week : 180 BTC/447 trades (+27% BTC, +10% trades)

Exceptions :

Dates | cto | rto | herr | undef | sum
------|-----|-----|-----

[2019-02-25 15:32] ghost commented on #10
### 2019.02 18-24 report (week 08)

- gaps between fees onion pages : ~non-existent
- gaps between prices onion pages : ~non-existent
- fees values : min = 10 s/b (246 occurrences), mean = 30.42 s/b, max = 62 s/b (40 occurrences).
Mean fee increased significantly. It's the highest week for mean fee in 2019.
Bisq numbers for the week : 124 BTC/414 trades (-31% BTC, -8% trades)

Exceptions :

Dates

[2019-02-27 11:27] ripcurlx commented on #20
## 2019.02 report
Moderation of the #transifex channel on Slack.
We saw less activity in February compared to January as we didn't add again lots of new strings or languages to the client. My work on the German translation is also part of this compensation request.
Next month I'll hand over the Transifex Admin role to @arunasurya. Thanks Aruna for taking over this role!

![bildschirmfoto 2019-02-2

[2019-02-27 11:28] ripcurlx commented on #31
## 2019.02 report
Conducted the February 1st–4th voting at https://github.com/bisq-network/compensation/issues/204.

/cc bisq-network/compensation#224

[2019-02-27 11:47] Emzy commented on #14
## 2019.01 report

Running 1 instance.

/cc [bisq-network/compensation#225](https://github.com/bisq-network/compensation/issues/225)

[2019-02-27 11:48] Emzy commented on #15
## 2019.02 report
Running 1 Bitcoin seednode instance
hosting: Hetzner VM on my dedicated server

/cc bisq-network/compensation#225

[2019-02-27 11:49] Emzy commented on #26
## 2019.02 report
Running the bisq-contrib and bisq-github mailing list server.

- Approving and rejecting mails.
- Systemupdates.

/cc bisq-network/compensation#225

[2019-02-27 12:00] Emzy commented on #9
## 2019.02 report

I took over the operation of the markets website server.

Every second week there seems to be a server "crash" (out of memory).
It seems to me the memory leak is in apache/php, more investigation needed.
Restarting the Apache2 daemon fixes the problem every time.

I did a software update.
But after the update still there was one  out of memory problem.

/cc bisq-network/compensa

[2019-02-28 05:08] ManfredKarrer commented on #12
## 2019.02 report

Lost of updates with the DAO landing page and performance improvements.

@m52go Could you take over primary role for that, as you are more active in that area.

/cc bisq-network/compensation#227

[2019-02-28 05:09] ManfredKarrer commented on #16
## 2019.02 report

Nothing to report.

/cc bisq-network/compensation#227

[2019-02-28 05:09] ManfredKarrer commented on #8
## 2019.02 report

Nothing to report.

/cc bisq-network/compensation#227

[2019-02-28 05:10] ManfredKarrer commented on #6
## 2019.02 report

Nothing to report.

@freimair Could you take over primary role for that as it is very related to the network work.

/cc bisq-network/compensation#227

[2019-02-28 05:11] ManfredKarrer commented on #7
## 2019.02 report

Nothing to report.

/cc bisq-network/compensation#227

[2019-02-28 05:12] ManfredKarrer commented on #14
## 2019.02 report

Running 2 instances.

/cc bisq-network/compensation#227

[2019-02-28 05:13] ManfredKarrer commented on #9
## 2019.02 report

Nothing to report.

/cc bisq-network/compensation#227

[2019-02-28 05:14] ManfredKarrer commented on #15
## 2019.02 report

Running 6 mainnet nodes and 4 DAO testnet nodes.
Started to hand over 2 nodes to @freimair.

/cc bisq-network/compensation#227

[2019-02-28 05:15] ManfredKarrer commented on #10
## 2019.02 report

Nothing to report.

@freimair Could you take primary role ownership for that?

/cc bisq-network/compensation#227

[2019-02-28 05:20] ManfredKarrer commented on #1
## 2019.02 report

We had issues with using the Bitcoin testnet for DAO testing as one day 20 000 block got created which turned the block based timing for the phases un-usable. It showed again that testnet is not suitbale for application testing ;-(. We decided to move to a server based regtest mode as that was the fastest solution with least effort. Starting a private testnet would have caused m

[2019-02-28 12:41] alexej996 commented on #25
## 2019.2 report

This month we got back to more usual growth rate of the subreddit by gaining **45** new readers.
We currently have **1096** subscribers. We grew by **4%** this month.

/cc https://github.com/bisq-network/compensation/issues/230

[2019-02-28 13:11] alexej996 commented on #19
## 2019.2 report

Discourse was updated twice this month to the current version of **2.3.0.beta2**.
Backups were downloaded as usual :)

I configured our own mail server this month, so that we don't need to depend on the mail provider anymore for forum emails. I kept the configuration for the discourse to use the mail provider however, just in case until it is really needed to make a switch.

Stat

[2019-02-28 17:34] ghost commented on #10
### 2019.02 Report - Prices monitoring
~ nothing to report.
This month pricenodes behaviour is similar as previous months, so is the report.

**Timeouts**:
* There were no timeout due to any pricenode this month
* The timeout numbers were in the usual statistics this month (reasonable). All timeouts correspond to network issues.
* Prices are given from the same onions as fees -> see the weekly rep

[2019-02-28 18:46] mrosseel commented on #14
## 2018.12 - 2019.02 report

* 1 bitcoinaverage subscription
* 1 pricenode running

nothing to report.

bisq-network/compensation#220

[2019-02-28 18:52] mrosseel commented on #15
## 2018.12 - 2019.02 report

Running 1 seednode instance
hosting: Linode in docker container

Did some investigation after monitoring failures seen by manfred.
Updated parameters so that it's running better now, in Grafana it looked like it might still be restarting too much but it was another node with similar color, restarts were 2/3 times a day which is 'normal'. The recently discovered memory

[2019-02-28 18:56] mrosseel commented on #22
## 2018.12 - 2019.02 report

Nothing to report
Since I don't spend a lot of time on IRC a new maintainer would be good for the IRC department

Hosting 1 syncing node on a shared server with monitoring node.

bisq-network/compensation#220

[2019-02-28 18:58] mrosseel commented on #10
## 2018.12 - 2019.02 report

Nothing to report besides a few occurrences of downtime, main reason I didn't detect it was because another server was failing intermittently and the down email got lost in between those. Lesson learned hopefully!

bisq-network/compensation#220

[2019-02-28 23:15] m52go commented on #28
## 2019.02 Report

Nothing to report.

/cc https://github.com/bisq-network/compensation/issues/234

[2019-02-28 23:15] m52go commented on #29
## 2019.02 Report

Significant changes included a doc for making compensation requests, a doc for listing DAO resources, and a slightly updated interface for the front page to help people quickly find main docs.

Began a new initiative to make the site faster (as measured by Google's Search Console). Speed is already pretty good, but refinements in progress will make it even better.

Metrics were

[2019-02-28 23:15] m52go commented on #23
## 2019.02 Report

[Slack stats](https://bisq.slack.com/admin/stats) for the past month are in the image below.

Nothing notable to report. Rocket.Chat migration is being put on hold until after the DAO launch.

![fireshot capture 002 - analytics - bisq slack - bisq slack com](https://user-images.githubusercontent.com/735155/53603146-a4e68680-3b7e-11e9-882f-63b5ae0c20f0.png)

/cc https://github.co

[2019-02-28 23:15] m52go commented on #21
## 2019.02 Report

It was a rather meager month on Twitter. Didn't tweet as much, as it seemed I kept hitting the same tropes of privacy, freedom, etc. Started to feel boring, which might be the worst possible outcome for a social channel. So tweet output was lower. I'm working on an expanded variety of topics and insights to make March go better.

We got 180 new followers. I docked my requested c

[2019-03-02 17:11] ManfredKarrer commented on #20
@ripcurlx I think you are handing over to @arunasurya right? Let me know once that is done then I would change the roles. Let me know who should be primary and secondary.

[2019-03-02 17:30] ManfredKarrer commented on #1
A quick update regarding @cbeams health state:
Chris had his bone marrow transplant a few weeks ago and luckily all went very well and he is already released from hospital (earlier as expected) and back home! I am very happy to see he is recovering well! It still will take some time for full recovery so will take some time until we have him back at Bisq ;-).

[2019-03-02 18:12] ripcurlx commented on #20
Actually we did the hand over yesterday. Feel free to set @arunasurya as primary and me as secondary role owner already.

[2019-03-02 23:02] mrosseel commented on #1
Great news, was wondering how it was going.

On Sat, 2 Mar 2019, 18:30 Manfred Karrer, <notifications@github.com> wrote:

[2019-03-04 17:04] ghost commented on #10
### 2019.02-03 25-03 report (week 09)

- gaps between fees onion pages : ~non-existent
- gaps between prices onion pages : ~non-existent
- fees values : min = 16 s/b (10 occurrences), mean = 25.73 s/b, max = 62 s/b (5 occurrences).
Mean fee decreased a bit.
But it's noticeable that the min fee to spent was 16 s/b this week. It was always 10 s/b since january.

Bisq numbers for the week : 195 BTC/4

[2019-03-11 07:20] ghost commented on #10
### 2019.03 04-10 report (week 10)

- gaps between fees onion pages : ~non-existent
- gaps between prices onion pages : ~non-existent
- fees values : min = 14 s/b (54 occurrences), mean = 27.00 s/b, max = 60 s/b (42 occurrences).

Bisq numbers for the week : 100 BTC/326 trades (-49% BTC, -26% trades)

Exceptions :

Dates | cto | rto | herr | undef | sum
------|-----|-----|------|-------|-----
 4 |

[2019-03-18 18:12] ghost commented on #10
### 2019.03 11-17 report (week 11)

- gaps between fees onion pages : ~non-existent
- gaps between prices onion pages : ~non-existent
- fees values : min = 10 s/b (4 occurrences), mean = 23.96 s/b, max = 60 s/b (5 occurrences). Slight decrease.

Bisq numbers for the week : 104 BTC/300 trades (+4% BTC, -8% trades)

Exceptions :

Dates | cto | rto | herr | undef | sum
------|-----|-----|------|-----

[2019-03-24 18:30] ManfredKarrer commented on #11
@sqrrm @KanoczTomas : Would you be ok to take over the BSQ explorer role after the DAO launch?
We should have 2 explorers running for resilience.

[2019-03-24 18:33] sqrrm commented on #11
Yeah, I'm good to run one explorer instance. Would be great if someone with some web dev experience could take over the development though.

[2019-03-25 17:23] sqrrm commented on #11
@KanoczTomas From what I understand you have some more experience on the operations side so you're probably better situated to improve on the stability of running the explorers. I'm already running one and if you run the other we should get together to figure out what we can do to make them better.

[2019-03-26 07:24] ghost commented on #10
### 2019.03 18-24 report (week 12)

- gaps between fees onion pages : ~non-existent
- gaps between prices onion pages : small issues, and concerns only 2 very few traded assets. (I reported in the #bisq-monitor slack channel)
- fees values : min = 10 s/b (532 occurrences), mean = 18.82 s/b, max = 60 s/b (35 occurrences). Slight decrease.

Bisq numbers for the week : 86 BTC/283 trades (-17% BTC, -6

[2019-03-27 12:59] KanoczTomas commented on #11
@ManfredKarrer yes, I am ok with running a second instance.

@sqrrm it would be perhaps interesting to somehow move the BSQ explorer to esplora if the current one has problems with developement. Esplora uses electrs in the background, so maybe if bisq dao created a json in the format as electrs returns it would be a way to go. It if just a thought for now. Would require more analysis of the code.

[2019-03-27 20:33] Emzy commented on #9
## 2019.03 report

Two times the server hat a out of memory problem. Restarting of apache and the bisq fixed it.
I still have an eye on it.

/cc bisq-network/compensation#246

[2019-03-27 20:33] Emzy commented on #26
## 2019.03 report
Running the bisq-contrib and bisq-github mailing list server.

- Approving and rejecting mails.
- Systemupdates.

/cc bisq-network/compensation#246

[2019-03-27 20:36] Emzy commented on #15
## 2019.03 report
Running 1 Bitcoin seednode instance
hosting: Hetzner VM on my dedicated server

/cc bisq-network/compensation#246

[2019-03-27 20:37] Emzy commented on #14
## 2019.03 report

Running 1 instance.

/cc [bisq-network/compensation#225](https://github.com/bisq-network/compensation/issues/246)

[2019-03-28 16:44] ripcurlx commented on #31
## 2019.03 report
Conducted the March 1st–4th voting at https://github.com/bisq-network/compensation/issues/222.

/cc bisq-network/compensation#247

[2019-03-29 01:38] ManfredKarrer commented on #11
@KanoczTomas Yes basically that would be good but will require more work to see what is needed. After the DAO launch we can look into it.

[2019-03-29 12:15] alexej996 commented on #25
## 2019.3 report

Continuing the usual growth of around **6%** this month.
We gained **63** new readers this month which puts our subreddit at **1159** subscribers currently.

/cc https://github.com/bisq-network/compensation/issues/249

[2019-03-29 12:28] alexej996 commented on #19
## 2019.3 report

Discourse was updated 3 times this month and is currently at the latest version **2.3.0.beta6**.
Backups were downloaded periodically as usual.

There were no issues nor major upgrades to the forum this month.

Statistics:
**43** new signups, **20%** decrease.
**64** new topics, **42%** increase.
**388** new posts, **42%** increase.
DAU/MAU **27%** increase.
**10** DEU, **25%** i

[2019-03-29 15:49] oscarguindzberg commented on #8
## 2019.03 report

Audits:

- [WIP] Connection handling changes audit
  - https://github.com/bisq-network/bitcoinj/issues/30
- "addr" message support audit
  - Audit report: https://github.com/bisq-network/bitcoinj/issues/28
  - Bugfix: https://github.com/bisq-network/bisq/pull/2591
  - Add link to this report on the source code: https://github.com/bisq-network/bitcoinj/pull/29
- fee calculation c

[2019-03-30 03:49] ManfredKarrer commented on #7
I think we can close that role as there is nearly no extra work included here and it can be seen as part of the general code base.

[2019-03-30 03:50] ManfredKarrer commented on #14
## 2019.03 report

Running 2 instances.

/cc bisq-network/compensation#252

[2019-03-30 03:53] ManfredKarrer commented on #9
## 2019.03 report

Nothing to report.

/cc bisq-network/compensation#252

[2019-03-30 03:54] ManfredKarrer commented on #10
## 2019.03 report

1 seed node has been down for a few days.

/cc bisq-network/compensation#252

[2019-03-30 03:55] ManfredKarrer commented on #16
## 2019.03 report

Nothing to report.

/cc bisq-network/compensation#252

[2019-03-30 04:10] ManfredKarrer commented on #1
This was a very intense month with getting the DAO prepared for mainnet launch. We had some important fixes and changes which will require to start over with a new testnet. Mainly focussed to test the DAO for finding any possible attack or weakness.
Also started to re-distribute some nodes to other contributors and make sure we are good decentralized on the contributor base as well once we launch

[2019-03-30 04:13] ManfredKarrer commented on #15
## 2019.03 report

- 4 mainnet nodes
- 4 DAO testnet nodes
- 1 DAO betanet (mainnet) nodes
- 2 testnet nodes
- 2 DAO regtest (new network after release) nodes

/cc bisq-network/compensation#252

[2019-03-30 15:32] sqrrm commented on #11
## 2019.03 report

Started as explorer operator/maintainer. I'm running one node for betanet right now at explorer.sqrrm.net/betanet

Will move that over to mainnet when we go live, which shouln't be much of a problem as betanet is already on mainnet but with test BSQ.

https://github.com/bisq-network/compensation/issues/253

[2019-03-30 16:11] ghost commented on #10
### 2019.03 Report - Prices monitoring
One pricenode prices were stucked in the last week of march.

**Timeouts**:
* There were no timeout due to any pricenode this month
* Apart from timeouts due to my own connection, the timeout numbers were in the usual statistics this month (reasonable). All timeouts correspond to network issues.
* Prices are given from the same onions as fees -> see the weekl

[2019-03-31 10:18] freimair commented on #6
# 2019.03 report
- ongoing survey of memory requirements optimizations
- ongoing survey on syncing seednodes periodically

[2019-03-31 10:19] freimair commented on #15
# 2019.03 report

- running 2 mainnet seednodes

[2019-03-31 10:24] freimair commented on #10
# 2019.03 report

## Operator

- keeping an eye on the bisq monitor implementation
  - there has been a longer outage (a few days) due to an out-of-memory exception and me being sick
- running the graphana/graphite frontend and data store

## Maintainer

- playing around with graphs and alarms
- discussing the monitoring requirements and setup for the upcoming mainnet DAO

[2019-03-31 15:23] arunasurya commented on #20
# 2019.03 Report

There was an increase in activity in March. German and Portuguese translations are complete, with Russian and Spanish translations nearing completion.

New initiatives (WIP): standardized glossary across all languages.

![Transifex report pic March 2019](https://user-images.githubusercontent.com/43150241/55290737-6f73c980-53c6-11e9-95f1-43197a5850e5.png)

[2019-03-31 19:48] KanoczTomas commented on #11
I will take over the role from april 1. I had no time to setup the 2nd node yet, as planned. Will do in the coming days.

[2019-03-31 20:22] m52go commented on #28
## 2019.03 Report

Four new roles were opened in advance of the DAO launch: mediator, mobile notifications relay operator, Netlayer maintainer, and BTC donation address owner.

/cc https://github.com/bisq-network/compensation/issues/257

[2019-03-31 20:22] m52go commented on #29
## 2019.03 Report

A minor addition was merged to docs this month: instructions for past contributors to specify a new mainnet address.

Also implemented some speed improvements to boost page loading speed. Desktop is now a perfect 100 and mobile is 94. Cannot get mobile to 100 without some serious work on the way AsciiDoc itself works (i.e., deferring font-awesome asset loading, which cannot be e

[2019-03-31 20:23] m52go commented on #23
## 2019.03 Report

[Slack stats](https://bisq.slack.com/admin/stats) for the past month are in the image below.

We passed 1,000 users this month.

![screencapture-bisq-slack-admin-stats-2019-03-31-13_12_04](https://user-images.githubusercontent.com/735155/55292280-a346f300-53b6-11e9-8913-124655f73941.png)

/cc https://github.com/bisq-network/compensation/issues/257

[2019-03-31 20:24] m52go commented on #21
## 2019.03 Report

Great month on Twitter. Pivotal, actually. The numbers are nice, but the real win was in what I sense was a shift in the general mindset about the Bisq DAO.

Before this month, trolls and low engagement on DAO-related tweets made me hesitant to tweet about the DAO at all. It was mainly the trolls that stopped me, as any sort of conflict ran a high chance of exploding and destroy

[2019-04-01 17:15] ghost commented on #10
### 2019.03 25-31 report (week 13)

- gaps between fees onion pages : ~non-existent
- gaps between prices onion pages : one pricenode was stucked this week (but with no consequences)
- fees values : min = 10 s/b (93 occurrences), mean = 37.73 s/b, max = 60 s/b (25 occurrences). Increase.

Bisq numbers for the week : 140 BTC/363 trades (+63% BTC, +28% trades)

Exceptions :

Dates | cto | rto | herr

[2019-04-06 16:34] ManfredKarrer commented on #15
We all should get the DAO setup ready now. Here is a summary of the instructions:

Checkout https://github.com/ManfredKarrer/bisq/tree/rc_v1.0.0 and build from that. There is a new mainnet genesis tx so that can be used for a testrun as DAO full node. Do not try to run as DAO full node with the master branch as the genesis tx there is very old and will take long time for sync.

Here are my conf fi

[2019-04-06 16:36] ManfredKarrer commented on #15
Ah one note: If you run it as service be sure to have the log settings set correctly so you don't run out of diskspace! Add to the readme where the log file is and how to access it if its not in standard data directory...

[2019-04-08 09:10] ghost commented on #10
### 2019.04 1-7 report (week 14)

- gaps between fees onion pages : ~non-existent, **but abnormal timeout pattern at work**
- gaps between prices onion pages : ~non-existent, **but abnormal timeout pattern at work**
- fees values : min = 36 s/b (68 occurrences), mean = 138.88 s/b, max = 1000 s/b (302 occurrences). Tremendous increase (+272%).

Bisq numbers for the week : 94 BTC/370 trades (-32% BT

[2019-04-08 12:41] m52go commented on #12
## 2019.03 Report

Sorry for the late report. This is the first month I took over the role, and forgot when writing my compensation request for March.

In March, the FAQs page was overhauled. For April, several other initiatives underway to ready the site for the DAO launch, including adding a Network Stats page and adding FAQs for the DAO.

/cc bisq-network/compensation#257

[2019-04-11 18:42] Emzy commented on #15
Please don't use "rpcallowip=127.0.0.1" it will open the RPC port for the world:
"# netstat -lpntu
With "rpcallowip=127.0.0.1"
`tcp6       0      0 :::8332                 :::*                    LISTEN      902/bitcoind`
Without it the port will only open on loclhost "::1":
`tcp6       0      0 ::1:8332                :::*                    LISTEN      4788/bitcoind`

[2019-04-12 13:58] cbeams commented on #1
@ManfredKarrer wrote

Confirming this from my side. Any work I do for Bisq in the future will be as a regular contributor.

I also wanted to note that recovery process after the stem cell transplant has turned out to be much more difficult and lengthy than I thought it would. I'll be going back to the hospital soon for dedicated physical therapy, and at this point I think it'll be another 6–12 mon

[2019-04-12 16:11] sqrrm commented on #1
@cbeams All the best for your recovery. Think of Bisq as your distributed support network, always there and in need of more contributions whenever you're ready.

[2019-04-12 22:30] ManfredKarrer commented on #1
@cbeams Thanks Chris for the update! Looking forward to see you back in Bisq but take all the time you need for your recovery. All the best!

[2019-04-13 05:35] ripcurlx commented on #1
@cbeams Thanks for your message Chris! Take your time to fully recover and Bisq will welcome you better than ever, whenever you're ready!

[2019-04-13 06:04] ghost commented on #1
@cbeams Thanks for the news, even if not so good. Take best care of yourself. Bisq will still be there in 6-12 months to welcome you back.

[2019-04-14 08:19] goo-technology commented on #35
I can take the embassador role in México (and other latin american countries if needed), make meet-ups and conferences, making online presence at social networks and mantain relations with other crypto, blockchain and traders communities in México.

Juan Sebastian Téllez I.

[2019-04-15 17:06] ghost commented on #10
### 2019.04 8-14 report (week 15)

- gaps between fees onion pages : ~non-existent, but still abnormal timeout pattern at work
- gaps between prices onion pages : ~non-existent, but still abnormal timeout pattern at work
- fees values : min = 148 s/b (3126 occurrences), mean = 150.13 s/b, max = 1000 s/b (5 occurrences).

Bisq numbers for the week : 231 BTC/461 trades (+145% BTC, +24% trades)

Exce

[2019-04-17 14:24] ManfredKarrer commented on #1
As announced we will close that role now as the Bisq DAO is in place with the v1.0.0 release.

[2019-04-22 06:37] ghost commented on #10
### 2019.04 15-21 report (week 16)

- gaps between fees onion pages : ~non-existent, but still abnormal timeout pattern at work
- gaps between prices onion pages : ~non-existent, but still abnormal timeout pattern at work
- fees values : min = 10 s/b (1661 occurrences), mean = 61.35 s/b, max = 150 s/b (615 occurrences).

Bisq numbers for the week : 529 BTC/649 trades (+129% BTC, +40% trades)

Exce

[2019-04-29 05:45] ghost commented on #10
### 2019.04 22-28 report (week 17)

- gaps between fees onion pages : one node had an issue from 24:19h40CET to 25:19h20CET (see https://github.com/bisq-network/roles/issues/14# )
- gaps between prices onion pages : ~non-existent.
- fees values : min = 10 s/b (854 occurrences), mean = 50.35 s/b, max = 122 s/b (1 occurrence).

Bisq numbers for the week : 529 BTC/504 trades (-5% BTC, -22% trades)

E

[2019-04-30 13:17] arunasurya commented on #20
# 2019.04 Report

We saw less activity in April compared to March.

![Transifex report April 2019](https://user-images.githubusercontent.com/43150241/56963648-f6909a80-6b48-11e9-8822-3bc04e090248.png)

As of today, the translations in the following languages have been completed or almost completed:

![Language completion](https://user-images.githubusercontent.com/43150241/56963814-6010a900-6b49-11

[2019-05-02 07:26] ghost commented on #10
### 2019.04 Report - Prices monitoring

**Timeouts**
* 04/04-21/04 : there was a weird timeout pattern at work. See the weekly reports + data for details.
* 13/04 : one pricenode had timeout issues for some hours. Seemingly it was a tor issue and restarting the node put things in order.
* Apart that, the timeout numbers were in the usual statistics this month (reasonable) and corresponds to networ

[2019-05-03 13:41] ripcurlx commented on #31
## 2019.04 report
Conducted the April 1st–4th voting at https://github.com/bisq-network/compensation/issues/243.

/cc bisq-network/compensation#269

[2019-05-03 20:47] devinbileck commented on #14
## 2019.04 report

I have setup and transferred ownership of the 44mgyoe2b6oqiytt.onion pricenode from @ManfredKarrer (https://github.com/bisq-network/bisq/pull/2769).

For several hours after the transition on April 24/25, my pricenode was reporting slightly higher fees compared to other pricenodes. Once the issue was identified, the cause was determined to be due to an incorrect configuration -

[2019-05-04 03:04] ManfredKarrer commented on #31
Should we close that role as it is now done by software?

[2019-05-04 03:13] ManfredKarrer commented on #24
As that role was not further maintained I will close it. If one becomes active handling that role feel free to open up again.

[2019-05-04 22:46] devinbileck commented on #15
## 2019.04 report

I have setup and transferred ownership of the 3f3cu2yw7u457ztq.onion seednode from @ManfredKarrer (https://github.com/bisq-network/bisq/pull/2803).

Minimal expenses incurred for this month as I did not setup the node until the very end of the month.

/cc [bisq-network/compensation#270](https://github.com/bisq-network/compensation/issues/270)

[2019-05-06 21:44] Mycelial1 commented on #35
https://github.com/bisq-network/compensation/issues/280

I played a small ambassador role by submitting a superchat in [this video](https://www.youtube.com/watch?v=Fsgi5GZSb_Y&feature=youtu.be) at 36:20 to correct someone on the subject of Bisq and KYC.

The youtuber consistently reads superchats out loud so I thought it a good moment to educate people about Bisq.

I use the same name on Youtube a

[2019-05-07 10:39] sqrrm commented on #11
## Cycle 1 report

I've been running an explorer, both clearnet and onion on https://explorer.sqrrm.net/ and murt7p2srbvorslyhud2rvvg2dkjpmtmku5p67lms72hqmuauibbisqd.onion respectively.

There has been no issues with the setup during the first cycle. I don't even think I've restarted the seednode once. I plan on moving this to explorer2.bisq.network or something like that as well.

https://github.

[2019-05-07 13:49] ghost commented on #10
### 2019.04-05 29-05 report (week 18)

- gaps between fees onion pages : ~non-existent.
- gaps between prices onion pages : atm my monitor software doesn't work properly with one price node. I'm repairing that (but it will need some time since I'll be absent for several days). For all other nodes, no gaps detected.
- fees values : min = 10 s/b (407 occurrences), mean = 41.63 s/b, max = 74 s/b (5 o

[2019-05-08 09:25] ripcurlx commented on #31
I agree. The only reason to keep this role active would be to remind contributors to file compensation requests. It will be difficult to automate that properly within Slack as our timing is now based on blocks. Not sure if it is worth to continue to set the different phases in the Google Calendar as well. I'm definitely not the one who wants to keep this role alive 😉

[2019-05-08 12:56] Emzy commented on #15
## Cycle1 report
Running 2 Bitcoin seednode instances
hosting: Hetzner VM on my dedicated server and a second dedicated server

Moved one Seednode because it now needs a bitcoind (Blockchain), so more resources needed.
Setup und test of a second seednode I took over from @ManfredKarrer

/cc bisq-network/compensation#279

[2019-05-08 13:01] Emzy commented on #9
## Cycle 1 report

The server hat no out of memory problem anymore.

/cc bisq-network/compensation#279

[2019-05-08 19:58] oscarguindzberg commented on #8
## 2019.04 report

- bisq’s bitcoinj 0.14.7 connection handling changes audit (not
  - Audit: https://github.com/bisq-network/bitcoinj/issues/30
  - Fixes: https://github.com/bisq-network/bitcoinj/pull/31
- Migrate to bitcoinj 0.15
  - Use bisq's bitcoinj 0.15 in bisq
    - https://github.com/bisq-network/bisq/pull/2772
  - Rebase bisq’s bitcoinj from bitcoinj 0.15.1
    - https://github.com/bisq-

[2019-05-08 21:33] m52go commented on #28
## 2019.04 Report

Founder role was dissolved with the launch of the Bisq DAO on April 15.

/cc https://github.com/bisq-network/compensation/issues/277

[2019-05-08 21:33] m52go commented on #29
## 2019.04 Report

There was a good chunk of work done on docs in April, especially in the days before and after the DAO launch.

Most significant updates/additions:
- DAO user reference
- new DAO tech spec
- DAO user guide for contributors
- DAO user guide for traders

Here's the traffic snapshot.

![Analytics All Web Site Data Pages 20190401-20190430 20190302-20190331-1](https://user-images.gith

[2019-05-08 21:33] m52go commented on #12
## 2019.04 Report

We added a [statistics page](https://bisq.network/stats/) and made some smaller changes in advance of the DAO launch.

There's a PR out right now waiting for an ACK to fix various charts on markets pages, a common complaint.

I'm going to start including a snapshot of general analytics for the site, as well as analytics specifically for blog posts.

![Analytics All Web Site Data

[2019-05-08 21:34] m52go commented on #23
## 2019.04 Report

Nothing to report.

[Slack stats](https://bisq.slack.com/admin/stats) for the past month are in the image below.

![screencapture-bisq-slack-admin-stats-2019-05-08-16_49_30](https://user-images.githubusercontent.com/735155/57407499-4eff1200-71b1-11e9-9590-2d66f2f573ea.png)

/cc https://github.com/bisq-network/compensation/issues/277

[2019-05-08 21:37] m52go commented on #21
## 2019.04 Report

Ho-hum month on Twitter. Nothing notable to report.

We gained 185 new followers.

![Screenshot from 2019-05-03 10-54-13](https://user-images.githubusercontent.com/735155/57410073-cc2d8580-71b7-11e9-982b-7bc3c0eb7863.png)

/cc https://github.com/bisq-network/compensation/issues/277

[2019-05-08 21:44] mrosseel commented on #14
2019.03 & 2019.04 (Cycle1) report
----
Running 1 instance.

/cc bisq-network/compensation#281

[2019-05-08 21:50] mrosseel commented on #15
## 2019.03 & 2019.04 (Cycle 1) report

Running 1 seednode instance in march and 2 seednodes+full nodes in april
Due to a switch of provider costs remained the same for 1 seednode, even with the extra storage.

bisq-network/compensation#281

[2019-05-08 21:57] mrosseel commented on #10
## 2019.03 & 2019.04 (Cycle 1) report

Nothing to report

bisq-network/compensation#281

[2019-05-08 21:58] mrosseel commented on #22
## 2019.03 - 2019.04 (Cycle 1) report

Nothing to report
Since I don't spend a lot of time on IRC a new maintainer would be good for the IRC department

Hosting 1 syncing node on a shared server with monitoring node.

Because of the disabled syncing and not spending much time on IRC, no compensation will be requested for this period.

bisq-network/compensation#281

[2019-05-12 11:36] ManfredKarrer commented on #31
Ok, I will close. People will learn to take care themself on the phases. Once missed one is probably enough to remember next time...

[2019-05-12 11:59] ManfredKarrer commented on #9
@mrosseel Takes over primary role owner.

[2019-05-12 12:03] ManfredKarrer commented on #11
@sqrrm Takes over primary role owner

[2019-05-12 14:07] ManfredKarrer commented on #30
@mpolavieja takes over primary role owner.

[2019-05-17 18:00] ghost commented on #10
### 2019.05 06-12 report (week 19)

- gaps between fees onion pages : 190 gaps / 2016 pings = 9.4%
- gaps between prices onion pages : ~non-existent (but only 4 nodes monitored closely atm)
- fees values : min = 14 s/b (12 occurrences), mean = 69.86 s/b, max = 112 s/b (222 occurrences).

Bisq numbers for the week : 147 BTC/405 trades (+200% BTC, +30% trades)

Exceptions :

Dates | cto | rto | herr

[2019-05-20 05:30] ghost commented on #10
### 2019.05 13-19 report (week 20)

- gaps between fees onion pages : 96 gaps / 2016 pings = 4.7%
Node http://ceaanhbvluug4we6.onion/getFees behaved slightly differently from the others nodes at the beginning of the week. But last days everything is normal again. Maybe there was some lag in this node connection ? (See https://github.com/HarryMacfinned/bisq-monitor/blob/master/bisqFeesGaps.txt )

-

[2019-05-20 15:16] alexej996 commented on #25
## 2019.4 report

I was a bit busy these weeks so I didn't make the report on time unfortunately.
Currently we are at **1256** readers which is **97** more since last report.
Although I didn't record the number of subscribers at the beginning of the month, I calculated that at this rate the increase in readers was about **5%** on 1st of May.

https://github.com/bisq-network/compensation/issues/285

[2019-05-20 16:09] alexej996 commented on #19
## 2019.4 report

Unfortunately I wasn't able to make a report at the beginning of the month.

Discourse was updated 2 times in April and is currently at the latest version **2.3.0.beta9**.
Backups were downloaded periodically as usual.

There were no issues nor major upgrades to the forum this month.
Few Cash app scam attempts again, didn't get through to the users again.

Statistics:
**63** new

[2019-05-27 06:09] ghost commented on #10
### 2019.05 20-26 report (week 21)

- gaps between fees onion pages : 34 gaps / 2016 pings = 1.6%

- gaps between prices onion pages : ~non-existent (but monitoring still incomplete atm)

- fees values : min = 176 s/b (515 occurrences), mean = 180.55 s/b, max = 184 s/b (194 occurrences).

Bisq numbers for the week : 371 BTC / 426 trades (+63% BTC, -6% trades)

Exceptions :

Dates | cto | rto | her

[2019-06-03 06:12] ghost commented on #10
### 2019.05 27-02 report (week 22)

- gaps between fees onion pages : 75 gaps / 2016 pings = 3.7%
~non-existent all the week, excepted the week-end.
http://xc3nh4juf2hshy7e.onion/ and http://44mgyoe2b6oqiytt.onion/
behaved slightly differently from the others nodes this week-end.
It's not that much, only ~40 occurences saturday and sunday
https://github.com/HarryMacfinned/bisq-monitor/blob/master/

[2019-06-03 14:53] arunasurya commented on #20
# 2019.05 Report

There was almost twice as much activity in the bisq-desktop project in May as in April. The translations are complete in the following languages: French, German, Portuguese, Russian and Spanish. Vietnamese is almost complete.

![Tx May 2019 Report_1](https://user-images.githubusercontent.com/43150241/58810997-4a4a4400-861f-11e9-8fd0-d969c55d7613.png)

![Tx_May 2019_Report_2](http

[2019-06-05 16:09] freimair commented on #10
# 2019.05 report

- brought the monitor up to speed again
- fixed issues preventing the monitor to run in the current environment
- system updates

[2019-06-07 12:49] sqrrm commented on #11
## Cycle 2 report
I have taken over primary role owner. I'm also managing both explorers. The explorers have been running without problem but they're rather primitive. It would be good to get someone to take over this role and the management of the explorers.

https://explorer.bisq.network/
https://explorer.sqrrm.net/

https://github.com/bisq-network/compensation/issues/293

[2019-06-07 20:39] m52go commented on #28
## 2019.05 Report

A number of roles were handed off this month to enable Manfred's departure.

/cc https://github.com/bisq-network/compensation/issues/294

[2019-06-07 20:39] m52go commented on #29
## 2019.05 Report

Quiet month for docs...much work was merged last month. This month the compensation doc was updated to reflect new conventions now that the DAO has launched.

Here's the traffic snapshot.

![Analytics All Web Site Data Pages 20190501-20190531 20190331-20190430 (1)-1](https://user-images.githubusercontent.com/735155/59131671-0027d200-8941-11e9-9faf-123bd6bfafef.png)
![Analytics A

[2019-06-07 20:40] m52go commented on #23
## 2019.05 Report

Nothing to report.

[Slack stats](https://bisq.slack.com/admin/stats) for the past month are in the image below.

![screencapture-bisq-slack-admin-stats-2019-06-07-16_33_00](https://user-images.githubusercontent.com/735155/59132011-f783cb80-8941-11e9-9c45-23dc64b1d354.png)

/cc https://github.com/bisq-network/compensation/issues/294